openapi: 3.2.0
info:
  title: Palette APIs - 4.9 System API
  version: v1
servers:
- url: https://api.spectrocloud.com
tags:
- name: System
  x-displayName: System
paths:
  /v1/system/activate:
    post:
      operationId: v1SystemActivate
      responses:
        '200':
          description: Empty response
        '201':
          description: Created successfully
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Uid'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Error'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Validates activation key, updates plan, logs activation, updates cache
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemActivateRequest'
        required: true
  /v1/system/activation:
    get:
      operationId: v1SystemActivationGet
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemActivationResponse'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Error'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Returns system activations doc, to be used in sysadmin console
      tags:
      - System
  /v1/system/admin/email:
    patch:
      operationId: V1SystemAdminEmail
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: email reset for system admin
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1V1SystemAdminEmail'
        required: true
  /v1/system/admin/password/reset:
    patch:
      operationId: V1SystemAdminPasswordReset
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: password reset for system admin
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1V1SystemAdminPasswordResetEntity'
        required: true
  /v1/system/admins:
    get:
      description: Lists all System Administrator's information
      operationId: v1SystemAdminsList
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemAdmins'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Lists users
      tags:
      - System
    post:
      operationId: v1SystemAdminsCreate
      responses:
        '201':
          description: Created successfully
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Uid'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Create a System Administrator
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemAdminEntity'
  /v1/system/admins/auth/password/{passwordToken}/activate:
    parameters:
    - description: Describes the expirable password token for the System Administrator to be used for authentication
      in: path
      name: passwordToken
      required: true
      schema:
        type: string
    patch:
      description: Updates and Activates System Administrator password with the help of password token
      operationId: v1SystemAdminsPasswordActivate
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates and Activates the specified System Administrator password using the…
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              properties:
                password:
                  description: Describes the new password for the System Administrator
                  format: password
                  type: string
              required:
              - password
              type: object
        required: true
  /v1/system/admins/{uid}:
    parameters:
    - in: path
      name: uid
      required: true
      schema:
        type: string
    delete:
      operationId: v1SystemAdminsUidDelete
      responses:
        '204':
          description: The resource was deleted successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Deletes the specified System Administrator
      tags:
      - System
    get:
      operationId: v1SystemAdminsUidGet
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemAdmin'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Returns the specified System Administrator information
      tags:
      - System
  /v1/system/admins/{uid}/changePassword:
    parameters:
    - in: path
      name: uid
      required: true
      schema:
        type: string
    patch:
      operationId: v1SystemAdminsUidPasswordChange
      responses:
        '204':
          description: Ok response without content
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
      security:
      - ApiKey: []
      - Authorization: []
      summary: System Administrator password change request through the verification of the…
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              properties:
                currentPassword:
                  type: string
                newPassword:
                  type: string
              required:
              - newPassword
              - currentPassword
              type: object
        required: true
  /v1/system/admins/{uid}/passwordResetLink:
    put:
      operationId: v1SystemAdminsUidPasswordResetLink
      parameters:
      - in: path
        name: uid
        required: true
        schema:
          type: string
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Reset password link for a specified System Administrator
      tags:
      - System
  /v1/system/admins/{uid}/profile:
    parameters:
    - in: path
      name: uid
      required: true
      schema:
        type: string
    patch:
      description: Update System Administrator Profile
      operationId: v1SystemAdminsUidProfileUpdate
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Update User
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemAdminProfile'
  /v1/system/alerts:
    get:
      operationId: v1SystemAlertsGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Alerts'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the alerts specified for the system
      tags:
      - System
  /v1/system/alerts/{component}:
    parameters:
    - in: path
      name: component
      required: true
      schema:
        type: string
    delete:
      operationId: v1SystemAlertDelete
      responses:
        '204':
          description: The resource was deleted successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Deletes the specified alert to the specified system
      tags:
      - System
    put:
      operationId: v1SystemAlertUpdate
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Upsert the specified alert to the specified system
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AlertEntity'
  /v1/system/appFeatures:
    get:
      operationId: v1SystemAppFeaturesGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AppFeatures'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Get system app features
      tags:
      - System
    put:
      operationId: v1SystemAppFeaturesUpdate
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Update system app features
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AppFeatures'
  /v1/system/authTokenSettings:
    get:
      operationId: v1SystemAuthTokenSettingsGet
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AuthTokenSettings'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Get system auth token settings
      tags:
      - System
    put:
      operationId: v1SystemAuthTokenSettingsUpdate
      responses:
        '204':
          description: Ok response without content
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
      security:
      - ApiKey: []
      - Authorization: []
      summary: Update system auth token settings
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AuthTokenSettings'
  /v1/system/classificationBanner:
    get:
      operationId: v1SystemClassificationBannerGet
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ClassificationBanner'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Get system classification banner
      tags:
      - System
    put:
      operationId: v1SystemClassificationBannerUpdate
      responses:
        '204':
          description: Ok response without content
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
      security:
      - ApiKey: []
      - Authorization: []
      summary: Update system classification banner
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ClassificationBanner'
  /v1/system/config/apache-cloudstack/image:
    get:
      operationId: V1SystemConfigCloudstackImageGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemCloudstackImage'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system cloudstack image
      tags:
      - System
    put:
      operationId: V1SystemConfigCloudstackImageUpdate
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: updates the system default cloudstack devops image
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemCloudstackImage'
        required: true
  /v1/system/config/auth:
    get:
      operationId: V1SystemConfigAuthGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemConfigAuth'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system config auth
      tags:
      - System
    put:
      operationId: V1SystemConfigAuthUpdate
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the system config auth
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemConfigAuth'
        required: true
  /v1/system/config/aws/account:
    get:
      operationId: V1SystemConfigAwsAccountGet
      responses:
        '200':
          description: Aws sts account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemAwsAccount'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system config aws devops account
      tags:
      - System
    put:
      operationId: V1SystemConfigAwsAccountUpdate
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: updates the system config aws devops account
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemAwsAccount'
        required: true
  /v1/system/config/aws/apiEndpoints:
    get:
      description: Retrieves all AWS partition endpoint configurations.
      operationId: V1SystemConfigAwsApiEndpointsGet
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AwsApiEndpointsConfig'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Get AWS API endpoints configuration
      tags:
      - System
    put:
      description: Creates or replaces all AWS partition endpoint configurations.
      operationId: V1SystemConfigAwsApiEndpointsUpdate
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Update AWS API endpoints configuration
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AwsApiEndpointsConfig'
        required: true
  /v1/system/config/aws/image:
    get:
      operationId: V1SystemConfigAwsImageGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemAwsImage'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system aws image
      tags:
      - System
    put:
      operationId: V1SystemConfigAwsImageUpdate
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: updates the system default aws devops image
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemAwsImage'
        required: true
  /v1/system/config/aws/marketplace/account:
    get:
      operationId: V1SystemConfigAwsMarketplaceAccountGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemAwsMarketplaceAccount'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system config aws marketplace account
      tags:
      - System
    put:
      operationId: V1SystemConfigAwsMarketplaceAccountUpdate
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: updates the system config aws marketplace account
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemAwsMarketplaceAccount'
        required: true
  /v1/system/config/aws/sts/account:
    get:
      operationId: V1SystemConfigAwsStsAccountGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemAwsStsAccount'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system config aws sts devops account
      tags:
      - System
    put:
      operationId: V1SystemConfigAwsStsAccountUpdate
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: updates the system config AWS sts devops account
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemAwsStsAccount'
        required: true
  /v1/system/config/awsgov/sts/account:
    get:
      operationId: V1SystemConfigAwsGovStsAccountGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemAwsStsAccount'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system config AWS gov sts devops account
      tags:
      - System
    post:
      operationId: V1SystemConfigAwsGovStsAccountCreate
      responses:
        '204':
          description: Ok response without content
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
      security:
      - ApiKey: []
      - Authorization: []
      summary: Create the system config AWS gov sts devops account
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemAwsStsAccount'
        required: true
    put:
      operationId: V1SystemConfigAwsGovStsAccountUpdate
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the system config AWS gov sts devops account
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemAwsStsAccount'
        required: true
  /v1/system/config/azure/account:
    get:
      operationId: V1SystemConfigAzureAccountGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemAzureAccount'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system azure account
      tags:
      - System
    put:
      operationId: V1SystemConfigAzureAccountUpdate
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: updates the system default azure devops account
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemAzureAccount'
        required: true
  /v1/system/config/azure/storage:
    get:
      operationId: V1SystemConfigAzureStorageGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemAzureStorage'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system azure storage
      tags:
      - System
    put:
      operationId: V1SystemConfigAzureStorageUpdate
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: updates the system default azure devops storage
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemAzureStorage'
        required: true
  /v1/system/config/certificate:
    get:
      description: 'Deprecated: Use GET /v1/system/config/domain/certificates'
      operationId: V1SystemConfigCertificateGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemCertificateSpec'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system certificates
      tags:
      - System
    put:
      description: 'Deprecated: Use PUT /v1/system/config/domain/certificates'
      operationId: V1SystemConfigCertificateUpdate
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: updates the system certificate
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemCertificateSpec'
  /v1/system/config/cluster:
    get:
      operationId: V1SystemConfigClusterGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemConfigCluster'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system config cluster
      tags:
      - System
    put:
      operationId: V1SystemConfigClusterUpdate
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the system config cluster
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemConfigCluster'
        required: true
  /v1/system/config/database/backup/:
    get:
      description: Deprecated. Use the config specific apis.
      operationId: V1SystemConfigDatabaseBackupGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemBackupConfigSpec'
      security:
      - ApiKey: []
      - Authorization: []
      tags:
      - System
      summary: V1 system config database backup get
      x-summary-source: derived
    put:
      description: Deprecated. Use the config specific apis.
      operationId: V1SystemConfigDatabaseBackupUpdate
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: updates the system backup config
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemBackupConfigSpec'
        required: true
  /v1/system/config/database/backup/ftp:
    get:
      operationId: V1SystemConfigDatabaseBackupFtpGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemBackupFtpConfigSpec'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system backup interval config
      tags:
      - System
    put:
      operationId: V1SystemConfigDatabaseBackupFtpUpdate
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: updates the system backup interval config
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemBackupFtpConfigSpec'
        required: true
  /v1/system/config/database/backup/s3:
    get:
      operationId: V1SystemConfigDatabaseBackupS3Get
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemBackupS3ConfigSpec'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system backup s3 config
      tags:
      - System
    put:
      operationId: V1SystemConfigDatabaseBackupS3Update
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: updates the system backup ftp storage config
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemBackupS3ConfigSpec'
        required: true
  /v1/system/config/domain:
    get:
      description: 'Deprecated: Use GET /v1/system/config/domain/certificates'
      operationId: V1SystemConfigDomainGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemConfigDomainSpec'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system domain config
      tags:
      - System
    patch:
      description: 'Deprecated: Use PUT /v1/system/config/domain/certificates'
      operationId: V1SystemConfigDomainHostPatch
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: update domain host url
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1DomainHost'
        required: true
  /v1/system/config/domain/certificates:
    get:
      operationId: V1SystemConfigDomainCertificatesGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemConfigDomainCertificatesSpec'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system domain config
      tags:
      - System
    put:
      operationId: V1SystemConfigDomainCertificatesPut
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: update domain host url and its certificates
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemConfigDomainCertificatesSpec'
        required: true
  /v1/system/config/edge/image:
    get:
      operationId: V1SystemConfigEdgeImageGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemEdgeImage'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system edge image
      tags:
      - System
    put:
      operationId: V1SystemConfigEdgeImageUpdate
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: updates the system default edge devops image
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemEdgeImage'
        required: true
  /v1/system/config/edgeNative/image:
    get:
      operationId: V1SystemConfigEdgeNativeImageGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemEdgeNativeImage'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system edge-native image
      tags:
      - System
    put:
      operationId: V1SystemConfigEdgeNativeImageUpdate
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: updates the system default edge-native devops image
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemEdgeNativeImage'
        required: true
  /v1/system/config/ftp/validate:
    post:
      operationId: V1SystemConfigFtpValidate
      parameters:
      - in: query
        name: permission
        schema:
          type: string
          enum:
          - read
          - write
          - readwrite
      responses:
        '204':
          description: Ok response without content
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
      security:
      - ApiKey: []
      - Authorization: []
      summary: validates the ftp config
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemFtpSpec'
        required: true
  /v1/system/config/gcp/account:
    get:
      operationId: V1SystemConfigGcpAccountGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemGcpAccount'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system gcp account
      tags:
      - System
    put:
      operationId: V1SystemConfigGcpAccountUpdate
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: updates the system default gcp devops account
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemGcpAccount'
  /v1/system/config/gcp/image:
    get:
      operationId: V1SystemConfigGcpImageGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemGcpImage'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system gcp image
      tags:
      - System
    put:
      operationId: V1SystemConfigGcpImageUpdate
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: updates the system default gcp devops image
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemGcpImage'
        required: true
  /v1/system/config/imagePullSecret:
    get:
      operationId: V1SystemConfigImagePullSecretGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemConfigImagePullSecretSpec'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system DHI image pull secret config
      tags:
      - System
    put:
      operationId: V1SystemConfigImagePullSecretUpdate
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: create or update the system DHI image pull secret config
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemConfigImagePullSecretSpec'
        required: true
  /v1/system/config/keyValueStore:
    put:
      operationId: V1SystemConfigStoreUpdate
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the specified property for the key
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemConfigStoreEntity'
  /v1/system/config/keyValueStore/{key}:
    parameters:
    - in: path
      name: key
      required: true
      schema:
        type: string
    delete:
      operationId: V1SystemConfigStoreDelete
      responses:
        '204':
          description: The resource was deleted successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Deletes the specified property for the key
      tags:
      - System
    get:
      operationId: V1SystemConfigStoreGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemConfigStoreEntity'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Gets the specified property for the key
      tags:
      - System
  /v1/system/config/kubectl:
    get:
      operationId: V1SystemConfigKubectlGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemKubectlSpec'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system web kubectl config
      tags:
      - System
    put:
      operationId: V1SystemConfigKubectlUpdate
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: updates the system web kubectl config
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemKubectlSpec'
        required: true
  /v1/system/config/logger:
    get:
      operationId: V1SystemConfigLoggerGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemLoggerSpec'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system logger
      tags:
      - System
    put:
      operationId: V1SystemConfigLoggerUpdate
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: updates the system logger
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemLoggerSpec'
        required: true
  /v1/system/config/maas/image:
    get:
      operationId: V1SystemConfigMaasImageGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemMaasImage'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system maas image
      tags:
      - System
    put:
      operationId: V1SystemConfigMaasImageUpdate
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: updates the system default maas devops image
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemMaasImage'
        required: true
  /v1/system/config/paymentsecrets:
    put:
      operationId: V1PaymentSecretsUpdate
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: updates the payment secrets
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1PaymentSecrets'
        required: true
  /v1/system/config/preferences/billing:
    get:
      operationId: V1BillingPreferenceGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Billing'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the billing preference
      tags:
      - System
    put:
      operationId: V1BillingPreferenceUpdate
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: updates the billing preference
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1Billing'
        required: true
  /v1/system/config/preferences/cluster:
    get:
      operationId: V1ClusterPreferenceGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ClusterPreference'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the cluster preference
      tags:
      - System
    put:
      operationId: V1ClusterPreferenceUpdate
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: updates the cluster preference
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ClusterPreference'
        required: true
  /v1/system/config/proxy:
    get:
      operationId: V1SystemConfigProxyGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemProxySpec'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system proxy
      tags:
      - System
    put:
      operationId: V1SystemConfigProxyUpdate
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: updates the system proxy
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemProxySpec'
        required: true
  /v1/system/config/registries/oci/image:
    get:
      operationId: V1SystemConfigRegistriesOciImageGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemOciImageRegistry'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system config oci image registry
      tags:
      - System
    put:
      operationId: V1SystemConfigRegistriesOciImageUpdate
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: updates the system config oci image registry
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemOciImageRegistry'
        required: true
  /v1/system/config/registries/{registryName}:
    parameters:
    - in: path
      name: registryName
      required: true
      schema:
        type: string
    delete:
      operationId: V1SystemRegistriesNameDelete
      responses:
        '204':
          description: The resource was deleted successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Deletes the specified Registry
      tags:
      - System
    get:
      operationId: V1SystemRegistriesNameGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemRegistry'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Gets the specified Registry
      tags:
      - System
    put:
      operationId: V1SystemRegistriesNameUpdate
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the specified Registry
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemRegistry'
  /v1/system/config/reverseproxy:
    get:
      operationId: V1SystemConfigReverseProxyGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemReverseProxy'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system config reverse proxy
      tags:
      - System
    put:
      operationId: V1SystemConfigReverseProxyUpdate
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: updates the system config reverse proxy
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemReverseProxy'
        required: true
  /v1/system/config/s3/validate:
    post:
      operationId: V1SystemConfigS3Validate
      parameters:
      - in: query
        name: permission
        schema:
          type: string
          enum:
          - read
          - write
          - readwrite
      responses:
        '204':
          description: Ok response without content
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
      security:
      - ApiKey: []
      - Authorization: []
      summary: validates the s3 config
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemS3Spec'
        required: true
  /v1/system/config/scar:
    get:
      operationId: V1SystemConfigScarGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemScarSpec'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system Spectro repository
      tags:
      - System
    put:
      operationId: V1SystemConfigScarUpdate
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: updates the system Spectro repository
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemScarSpec'
        required: true
  /v1/system/config/scar/validate:
    get:
      operationId: V1SystemConfigScarValidate
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemScarValidationResponse'
      security:
      - ApiKey: []
      - Authorization: []
      summary: validate existing scar config
      tags:
      - System
  /v1/system/config/smtp:
    get:
      operationId: V1SystemConfigSmtpGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemSmtpSpec'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system smtp
      tags:
      - System
    put:
      operationId: V1SystemConfigSmtpUpdate
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: updates the system smtp
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemSmtpSpec'
        required: true
  /v1/system/config/smtp/validate:
    put:
      operationId: V1SystemConfigSmtpValidate
      responses:
        '204':
          description: Ok response without content
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
      security:
      - ApiKey: []
      - Authorization: []
      summary: validates the system smtp
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemSmtpSpec'
        required: true
  /v1/system/config/sso:
    get:
      operationId: V1SystemConfigSsoGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemSsoSpec'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system sso
      tags:
      - System
    put:
      operationId: V1SystemConfigSsoUpdate
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: updates the system sso
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemSsoSpec'
        required: true
  /v1/system/config/sso/github/validate:
    put:
      operationId: V1SystemConfigSsoGithubValidate
      responses:
        '204':
          description: Ok response without content
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
      security:
      - ApiKey: []
      - Authorization: []
      summary: validates the system sso for github
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemGithubSsoSpec'
        required: true
  /v1/system/config/sso/oidc/validate:
    put:
      operationId: V1SystemConfigSsoOidcValidate
      responses:
        '204':
          description: Ok response without content
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
      security:
      - ApiKey: []
      - Authorization: []
      summary: validates the system sso for oidc based logins
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemOidcClientSpec'
        required: true
  /v1/system/config/storage/s3:
    get:
      operationId: V1SystemConfigStorageS3Get
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemStorageS3ConfigSpec'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system storage s3 config
      tags:
      - System
    put:
      operationId: V1SystemConfigStorageS3Update
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: updates the system storage config
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemStorageS3ConfigSpec'
        required: true
  /v1/system/config/timeseries:
    get:
      operationId: V1SystemConfigTimeseriesGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemTimeseriesSpec'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system timeseries
      tags:
      - System
    put:
      operationId: V1SystemConfigTimeseriesUpdate
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: updates the system timeseries
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemTimeseriesSpec'
        required: true
  /v1/system/config/vsphere/image:
    get:
      operationId: V1SystemConfigVsphereImageGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemVsphereImage'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system vsphere image
      tags:
      - System
    put:
      operationId: V1SystemConfigVsphereImageUpdate
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: updates the system default vsphere devops image
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemVsphereImage'
        required: true
  /v1/system/database/backup:
    patch:
      operationId: V1SystemDbBackup
      parameters:
      - in: query
        name: mode
        schema:
          type: string
          enum:
          - ftp
          - s3
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: backup the database
      tags:
      - System
  /v1/system/database/backups:
    get:
      operationId: V1SystemDbBackups
      parameters:
      - in: query
        name: mode
        schema:
          type: string
          enum:
          - ftp
          - s3
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DatabaseTransferStatus'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the database status
      tags:
      - System
  /v1/system/database/backups/{backupUid}:
    delete:
      operationId: V1SystemDbBackupsBackupUid
      parameters:
      - in: path
        name: backupUid
        required: true
        schema:
          type: string
      - in: query
        name: mode
        schema:
          type: string
          enum:
          - ftp
          - s3
      responses:
        '204':
          description: The resource was deleted successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: delete the database backup
      tags:
      - System
  /v1/system/database/recovery/{backupUid}/{mode}:
    patch:
      operationId: V1SystemDbRecover
      parameters:
      - in: path
        name: backupUid
        required: true
        schema:
          type: string
      - in: path
        name: mode
        required: true
        schema:
          type: string
          enum:
          - ftp
          - s3
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: recover the database
      tags:
      - System
  /v1/system/database/restore/{backupUid}:
    patch:
      operationId: V1SystemDbRestore
      parameters:
      - in: path
        name: backupUid
        required: true
        schema:
          type: string
      - in: query
        name: mode
        schema:
          type: string
          enum:
          - ftp
          - s3
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: restore the database
      tags:
      - System
  /v1/system/encrypt:
    post:
      operationId: V1SystemEncrypt
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemCryptoData'
      security:
      - ApiKey: []
      - Authorization: []
      summary: encrypt the system data
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemCryptoInput'
        required: true
  /v1/system/features:
    get:
      operationId: V1SystemFeaturesGet
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemFeatures'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Lists all feature flags
      tags:
      - System
  /v1/system/features/{uid}:
    parameters:
    - in: path
      name: uid
      required: true
      schema:
        type: string
    patch:
      operationId: V1SystemFeaturesUidUpdate
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the feature permission
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemFeaturesOperation'
  /v1/system/loginBanner:
    get:
      operationId: v1SystemLoginBannerGet
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1LoginBannerSettings'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Get system login banner settings
      tags:
      - System
    put:
      operationId: v1SystemLoginBannerUpdate
      responses:
        '204':
          description: Ok response without content
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
      security:
      - ApiKey: []
      - Authorization: []
      summary: Update system login banner settings
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1LoginBannerSettings'
  /v1/system/password/policy/default:
    get:
      operationId: V1SystemPasswordPolicyGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemPasswordPolicySpec'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system password policy
      tags:
      - System
    put:
      operationId: V1SystemPasswordPolicyUpdate
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: updates the system admin
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemPasswordPolicySpec'
        required: true
  /v1/system/passwords/blocklist:
    delete:
      operationId: V1PasswordsBlockListDelete
      responses:
        '204':
          description: The resource was deleted successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Delete a list of block listed passwords
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1PasswordsBlockList'
        required: true
    patch:
      operationId: V1PasswordsBlockListUpdate
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: List of block listed passwords
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1PasswordsBlockList'
        required: true
  /v1/system/plan:
    get:
      operationId: V1SystemPlanGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemPlan'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system plan
      tags:
      - System
  /v1/system/plan/credits/{creditUid}:
    parameters:
    - in: path
      name: creditUid
      required: true
      schema:
        type: string
    delete:
      operationId: v1SystemCreditsUidDelete
      responses:
        '204':
          description: The resource was deleted successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Deletes the specified Plan's credit data
      tags:
      - System
    put:
      operationId: v1SystemCreditsUidUpdate
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the specified Plan's credit data
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1PlanCreditUpdate'
  /v1/system/plan/freeCredit:
    post:
      operationId: v1SystemFreeCreditAdd
      responses:
        '201':
          description: Created successfully
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Uid'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Add system free credit
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1PlanAddFreeCreditUpdate'
  /v1/system/plan/planLimit:
    put:
      operationId: v1SystemPlanLimitUpdate
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the specified system plan's limit
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemPlanLimitUpdate'
  /v1/system/plan/slaCredit:
    post:
      operationId: v1SystemSlaCreditAdd
      responses:
        '201':
          description: Created successfully
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Uid'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Adds system sla breach credit
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1PlanAddSlaCreditUpdate'
  /v1/system/plan/startDate:
    patch:
      operationId: V1SystemStartDatePatch
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: updates the system start date
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemStartDate'
        required: true
  /v1/system/ratelimit:
    get:
      operationId: V1SystemRateLimitGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemRateLimit'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system plan
      tags:
      - System
    patch:
      operationId: V1SystemRateLimitPatch
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemRateLimit'
      security:
      - ApiKey: []
      - Authorization: []
      summary: toggles the rate limit
      tags:
      - System
  /v1/system/resourceLimits:
    get:
      operationId: v1SystemResourceLimitsGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemResourceLimits'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Get system resource limits
      tags:
      - System
    patch:
      operationId: v1SystemResourceLimitsUpdate
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Update system resource limits
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemResourceLimits'
  /v1/system/security/mode:
    get:
      operationId: V1SystemSecurityModeGet
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemSecurityMode'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Get the system security mode
      tags:
      - System
    put:
      operationId: V1SystemServiceModeUpdate
      responses:
        '204':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Updated'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the system security mode
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SystemSecurityMode'
        required: true
  /v1/system/sysplan:
    get:
      operationId: v1SystemSysplanGet
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemSysplan'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Error'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Returns system plan document
      tags:
      - System
  /v1/system/themes:
    post:
      operationId: v1SystemThemeCreate
      responses:
        '204':
          description: Created successfully
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Uid'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Stores the theme json fields like logo, name at system level
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ThemeCreateEntity'
  /v1/system/themes/active:
    get:
      operationId: v1SystemThemeActiveGet
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Theme'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Returns the active theme
      tags:
      - System
  /v1/system/themes/metadata:
    get:
      operationId: v1SystemThemesMetadataGet
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ThemesMetadata'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Returns the metadata of all the themes
      tags:
      - System
  /v1/system/themes/{uid}:
    parameters:
    - in: path
      name: uid
      required: true
      schema:
        type: string
    delete:
      operationId: v1SystemThemeDelete
      responses:
        '204':
          description: The resource was deleted successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Deletes the theme json fields like logo, name at system level
      tags:
      - System
    get:
      operationId: v1SystemThemeGet
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Theme'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Get the theme json fields like logo, name at system level
      tags:
      - System
    put:
      operationId: v1SystemThemeUpdate
      responses:
        '204':
          description: Ok response without content
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the theme json fields like logo, name at system level
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ThemeUpdateEntity'
  /v1/system/themes/{uid}/activate:
    parameters:
    - in: path
      name: uid
      required: true
      schema:
        type: string
    patch:
      operationId: v1SystemThemeActivate
      responses:
        '204':
          description: Ok response without content
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
      security:
      - ApiKey: []
      - Authorization: []
      summary: Activates a theme
      tags:
      - System
  /v1/system/themes/{uid}/deactivate:
    parameters:
    - in: path
      name: uid
      required: true
      schema:
        type: string
    patch:
      operationId: v1SystemThemeDeactivate
      responses:
        '204':
          description: Ok response without content
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
      security:
      - ApiKey: []
      - Authorization: []
      summary: Deactivates a theme
      tags:
      - System
  /v1/system/users/email/verify/resend:
    patch:
      operationId: V1SystemUsersEmailVerifyReSend
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Re-send the email to the user to be able to verify the email
      tags:
      - System
  /v1/system/users/email/{emailToken}/verify:
    parameters:
    - description: Describes the expiry email token for the system user to be used for verification of email
      in: path
      name: emailToken
      required: true
      schema:
        type: string
    get:
      description: Verifies the system user email with the help of email token
      operationId: V1SystemUsersEmailVerify
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Verifies the system user email using the email token
      tags:
      - System
  /v1/system/users/me:
    get:
      description: Verifies the system user email with the help of email token
      operationId: V1SystemUsersMe
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemUserMe'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Verifies the system user email using the email token
      tags:
      - System
  /v1/system/users/password/reset:
    post:
      description: Creates request to reset system password via email. Password reset email will be sent to the user. Sends 204 No Content.
      operationId: v1SystemUsersPasswordResetRequest
      responses:
        '204':
          description: Ok response without content
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
      security:
      - ApiKey: []
      - Authorization: []
      summary: Creates request to reset system password via email
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              properties:
                emailId:
                  description: Describes email if for which password reset email has to be sent
                  type: string
              required:
              - emailId
              type: object
        required: true
  /v1/system/users/password/{passwordToken}/reset:
    parameters:
    - description: Describes the expirable password token for the system user to be used for authentication of user
      in: path
      name: passwordToken
      required: true
      schema:
        type: string
    patch:
      description: Updates the new system user password with the help of password token
      operationId: v1SystemUsersPasswordReset
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Resets the system user password using the password token
      tags:
      - System
      requestBody:
        content:
          application/json:
            schema:
              properties:
                password:
                  description: Describes the new password for the system user
                  format: password
                  type: string
              required:
              - password
              type: object
        required: true
  /v1/system/version/installed:
    get:
      operationId: V1SystemVersionInstalled
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemVersionInfo'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system installed version
      tags:
      - System
  /v1/system/version/latest:
    get:
      operationId: V1SystemVersionLatest
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SystemVersionInfo'
      security:
      - ApiKey: []
      - Authorization: []
      summary: get the system latest available version
      tags:
      - System
components:
  schemas:
    v1ThemeStatus:
      properties:
        active:
          description: Specifies if the theme is active or not
          type: boolean
          x-omitempty: false
    v1Alerts:
      items:
        $ref: '#/components/schemas/v1Alert'
      type: array
    v1SystemAdminProfile:
      description: System Administrator Profile Entity
      properties:
        metadata:
          $ref: '#/components/schemas/v1ObjectMetaInputEntity'
        spec:
          $ref: '#/components/schemas/v1SystemAdminProfileSpec'
      type: object
    v1Updated:
      description: The resource was updated successfully
    v1SystemVsphereImageSpec:
      description: system vsphere account specifications
      properties:
        caCert:
          type: string
        imagesHostEndpoint:
          type: string
        insecureSkipVerify:
          type: boolean
        overlordOvaLocation:
          type: string
    v1AuthTokenSettings:
      description: System auth token settings
      properties:
        expiryTimeMinutes:
          description: Auth token expiry time in minutes
          format: int32
          maximum: 1440
          minimum: 15
          type: integer
          x-omitempty: false
    v1SystemCloudstackImageSpec:
      description: system cloudstack account specifications
      properties:
        imagesHostEndpoint:
          type: string
    v1SystemEdgeImageSpec:
      description: system edge account specifications
      properties:
        caCert:
          type: string
        imagesHostEndpoint:
          type: string
        insecureSkipVerify:
          type: boolean
    v1V1SystemAdminPasswordResetEntity:
      description: SystemAdmin
      properties:
        email:
          type: string
        newPassword:
          type: string
        oldPassword:
          type: string
      type: object
    v1SystemProxySpec:
      description: system proxy config spec
      properties:
        httpProxy:
          type: string
        httpsProxy:
          type: string
        noProxy:
          type: string
      type: object
    v1SystemTimeseriesMetrics:
      description: system timeseries metrics config
      properties:
        archivalInterval:
          type: integer
        batchInterval:
          type: integer
        enabled:
          type: boolean
          x-omitempty: false
        retentionPeriod:
          type: integer
      type: object
    v1DomainHost:
      description: update domain host for application. RootDomain gets dervied from domain host url
      properties:
        host:
          type: string
      type: object
    v1SystemPlanCredit:
      description: Plan Credit
      properties:
        cpuCoreHours:
          format: int64
          type: number
          x-omitempty: false
        creditUid:
          type: string
        expiry:
          $ref: '#/components/schemas/v1Time'
          description: credit expiry time
        name:
          type: string
        start:
          $ref: '#/components/schemas/v1Time'
          description: credit start time
        type:
          enum:
          - Pure
          - Alloy
          type: string
      required:
      - type
    v1SystemAzureStorage:
      description: SystemAdmin
      properties:
        spec:
          $ref: '#/components/schemas/v1SystemAzureStorageSpec'
      type: object
    v1PasswordsBlockListEntity:
      description: List of block listed passwords
      properties:
        passwords:
          items:
            type: string
          type: array
      type: object
    v1SystemAwsImage:
      description: SystemAdmin
      properties:
        spec:
          $ref: '#/components/schemas/v1SystemAwsImageSpec'
      type: object
    v1DatabaseTransferStatus:
      description: database transfer status
      properties:
        backups:
          items:
            $ref: '#/components/schemas/v1DatabaseTransferJob'
          type: array
        isActive:
          type: boolean
      type: object
    v1SystemAdmins:
      description: List of System Admin information's
      properties:
        items:
          items:
            $ref: '#/components/schemas/v1SystemAdmin'
          type: array
          uniqueItems: true
      required:
      - items
      type: object
    v1ThemeCreateEntity:
      description: Theme data create entity
      properties:
        metadata:
          $ref: '#/components/schemas/v1ObjectMetaInputEntity'
        spec:
          $ref: '#/components/schemas/v1ThemeSpec'
      required:
      - metadata
      - spec
      type: object
    v1TlsConfiguration:
      description: TLS configuration
      properties:
        ca:
          type: string
        certificate:
          type: string
        enabled:
          type: boolean
          x-omitempty: false
        insecureSkipVerify:
          type: boolean
          x-omitempty: false
        key:
          type: string
      type: object
    v1SystemEdgeNativeImage:
      description: SystemAdmin
      properties:
        spec:
          $ref: '#/components/schemas/v1SystemEdgeNativeImageSpec'
      type: object
    v1SystemAdministratorSpec:
      description: System Administrator Entity Specification
      properties:
        adminType:
          enum:
          - AccountAdmin
          - OperationAdmin
          type: string
        emailId:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        mfa:
          $ref: '#/components/schemas/v1SystemAdminMfa'
          type: string
      required:
      - firstName
      - lastName
      - emailId
      - adminType
      type: object
    v1SystemAwsImageSpec:
      description: system aws account specifications
      properties:
        accountId:
          type: string
        goldenImageRegion:
          type: string
    v1SystemRegistry:
      description: Registry configuration
      properties:
        metadata:
          $ref: '#/components/schemas/v1ObjectMeta'
        spec:
          $ref: '#/components/schemas/v1RegistryConf'
      type: object
    v1ResourceLimitType:
      enum:
      - user
      - project
      - apiKey
      - team
      - role
      - cloudaccount
      - clusterprofile
      - workspace
      - registry
      - privategateway
      - location
      - certificate
      - macro
      - sshkey
      - alert
      - spectrocluster
      - edgehost
      - appprofile
      - appdeployment
      - edgetoken
      - clustergroup
      - filter
      - systemadmin
      - spcpolicy
      - clustertemplate
      type: string
    v1SystemReverseProxy:
      description: system config reverse proxy
      properties:
        caCert:
          type: string
        clientCert:
          type: string
        clientKey:
          type: string
        port:
          type: integer
        protocol:
          enum:
          - http
          - https
          type: string
        server:
          type: string
        vHostPort:
          type: integer
    v1SystemEdgeImage:
      description: SystemAdmin
      properties:
        spec:
          $ref: '#/components/schemas/v1SystemEdgeImageSpec'
      type: object
    v1SystemEdgeNativeImageSpec:
      description: system edge-native account specifications
      properties:
        caCert:
          type: string
        imagesHostEndpoint:
          type: string
        insecureSkipVerify:
          type: boolean
        stylusImagesEndpoint:
          type: string
    v1SystemOciImageRegistry:
      description: system web kubectl config spec
      properties:
        baseContentPath:
          type: string
        caCert:
          type: string
        endpoint:
          type: string
        insecureSkipVerify:
          type: boolean
        mirrorRegistries:
          type: string
        name:
          type: string
        password:
          type: string
        username:
          type: string
      type: object
    v1SystemUserSpec:
      description: User specifications
      properties:
        adminType:
          description: Admin type
          type: string
        emailId:
          description: System User's email id
          type: string
    V1PasswordsBlockList:
      description: List of blocklisted passwords
      properties:
        spec:
          $ref: '#/components/schemas/v1PasswordsBlockListEntity'
      type: object
    v1SystemCryptoInput:
      description: SystemAdmin
      properties:
        input:
          type: string
      type: object
    v1SystemAdminActivation:
      description: System Administrator Activation Specification
      properties:
        expiry:
          $ref: '#/components/schemas/v1Time'
        link:
          type: string
      type: object
    v1SystemUserMeStatus:
      description: User status with permissions
      properties:
        isEmailSet:
          type: boolean
          x-omitempty: false
        isEmailVerified:
          type: boolean
          x-omitempty: false
        isMfaEnabled:
          type: boolean
          x-omitempty: false
        isPasswordReset:
          type: boolean
          x-omitempty: false
        lastEmailUpdateTime:
          $ref: '#/components/schemas/v1Time'
        lastEmailVerifiedTime:
          $ref: '#/components/schemas/v1Time'
        lastLoginTime:
          $ref: '#/components/schemas/v1Time'
        lastPasswordUpdateTime:
          $ref: '#/components/schemas/v1Time'
    v1RegistryConf:
      description: Registry configuration
      properties:
        auth:
          $ref: '#/components/schemas/v1RegistryAuth'
        endpoint:
          type: string
      type: object
    v1ThemeUpdateEntity:
      description: Theme data update entity
      properties:
        metadata:
          $ref: '#/components/schemas/v1ObjectMetaUpdateEntity'
        spec:
          $ref: '#/components/schemas/v1ThemeSpec'
      type: object
    v1AppFeatureFreemium:
      description: Freemium information
      properties:
        activeClustersLimit:
          type: integer
          x-omitempty: false
        isFreemium:
          type: boolean
          x-omitempty: false
        overageUsageLimit:
          format: float64
          type: number
          x-omitempty: false
        totalUsageLimit:
          format: float64
          type: number
          x-omitempty: false
    v1SystemOidcClaims:
      properties:
        Email:
          type: string
          x-omitempty: false
        FirstName:
          type: string
          x-omitempty: false
        LastName:
          type: string
          x-omitempty: false
        SpectroTeam:
          type: string
          x-omitempty: false
      type: object
    v1SystemAzureStorageSpec:
      description: system aws account specifications
      properties:
        accessKey:
          type: string
        container:
          type: string
        storageName:
          type: string
    v1ThemesMetadata:
      description: Theme metadata
      properties:
        items:
          items:
            $ref: '#/components/schemas/v1ThemeMetadata'
          type: array
      type: object
    v1SystemGcpImage:
      description: SystemAdmin
      properties:
        spec:
          $ref: '#/components/schemas/v1SystemGcpImageSpec'
      type: object
    v1SystemFeatures:
      properties:
        items:
          description: List of system features
          items:
            $ref: '#/components/schemas/v1SystemFeature'
          type: array
          uniqueItems: true
      required:
      - items
      type: object
    v1ClusterPreference:
      description: cluster preference
      properties:
        archivalIntervalInHour:
          description: clusters cleanup interval post deletion
          type: integer
        deletePeriodInHour:
          description: clusters deleted before delete period are eligible for cleanup
          type: integer
        healthPollIntervalInMinutes:
          description: clusters health poll interval
          maximum: 60
          minimum: 3
          type: integer
        monitorIntervalInMinutes:
          description: clusters state and consistency monitor
          type: integer
    v1Alert:
      properties:
        channels:
          items:
            $ref: '#/components/schemas/v1Channel'
          type: array
        component:
          type: string
      type: object
    v1TierPrice:
      description: tier price
      properties:
        alloyPricing:
          items:
            $ref: '#/components/schemas/v1PriceRange'
          type: array
          uniqueItems: true
        purePricing:
          items:
            $ref: '#/components/schemas/v1PriceRange'
          type: array
          uniqueItems: true
    v1Error:
      properties:
        code:
          type: string
        details:
          type: object
        message:
          type: string
        ref:
          type: string
      type: object
    v1SystemGcpSpec:
      description: system gcp account specifications
      properties:
        json:
          type: string
    v1SystemConfigStoreEntity:
      properties:
        key:
          type: string
          x-omitempty: false
        value:
          type: string
          x-omitempty: false
      required:
      - key
      - value
      type: object
    v1SystemBackupS3ConfigSpec:
      description: system backup config spec
      properties:
        backupSpec:
          $ref: '#/components/schemas/v1SystemBackupSpec'
        s3:
          $ref: '#/components/schemas/v1SystemS3Spec'
      type: object
    v1SystemMaasImage:
      description: SystemAdmin
      properties:
        spec:
          $ref: '#/components/schemas/v1SystemMaasImageSpec'
      type: object
    v1AwsServiceEndpoint:
      description: AWS service endpoint configuration
      properties:
        endpoint:
          description: The service endpoint URL
          type: string
        endpointFips:
          description: The FIPS-compliant service endpoint URL
          type: string
      type: object
    v1SystemPlan:
      description: system plan
      properties:
        freeCredits:
          items:
            $ref: '#/components/schemas/v1SystemPlanCredit'
          type: array
        planLimit:
          $ref: '#/components/schemas/v1SystemPlanLimit'
        slaCredits:
          items:
            $ref: '#/components/schemas/v1SystemPlanCredit'
          type: array
        systemStartDate:
          $ref: '#/components/schemas/v1Time'
    v1SystemAwsAccount:
      description: SystemAdmin
      properties:
        spec:
          $ref: '#/components/schemas/v1SystemAwsSpec'
      type: object
    v1SystemVsphereImage:
      description: SystemAdmin
      properties:
        spec:
          $ref: '#/components/schemas/v1SystemVsphereImageSpec'
      type: object
    v1LoginBannerSettings:
      properties:
        Message:
          description: Login banner message displayed to the user
          type: string
          x-omitempty: false
        isEnabled:
          description: Set to 'true' if login banner has to be displayed for user
          type: boolean
          x-omitempty: false
        title:
          description: Banner title displayed to the user
          type: string
          x-omitempty: false
    v1SystemVersionInfo:
      description: system version info
      properties:
        version:
          type: string
      type: object
    v1SystemFeature:
      properties:
        metadata:
          $ref: '#/components/schemas/v1ObjectMeta'
        spec:
          $ref: '#/components/schemas/v1SystemFeaturesSpec'
      type: object
    v1AppFeatures:
      description: System app features
      properties:
        developerCredit:
          $ref: '#/components/schemas/v1DeveloperCredit'
        freeCloudCredit:
          type: boolean
          x-omitempty: false
        freemium:
          $ref: '#/components/schemas/v1AppFeatureFreemium'
    v1SystemCertificateSpec:
      description: system smtp config spec
      properties:
        caCert:
          type: string
        crt:
          type: string
        insecureSkipVerify:
          type: boolean
        key:
          type: string
      type: object
    v1SystemPasswordPolicySpec:
      description: system password policy
      properties:
        creationTimestamp:
          $ref: '#/components/schemas/v1Time'
        expiryDurationInDays:
          type: integer
        firstReminderInDays:
          type: integer
        isRegex:
          type: boolean
        maxLength:
          type: integer
        minLength:
          type: integer
        minNumOfBlockLetters:
          type: integer
        minNumOfDigits:
          type: integer
        minNumOfSmallLetters:
          type: integer
        minNumOfSpecialCharacters:
          type: integer
        regex:
          type: string
        reminderFrequency:
          type: integer
        updateTimestamp:
          $ref: '#/components/schemas/v1Time'
      type: object
    v1ClassificationBanner:
      properties:
        config:
          description: JSON-formatted string containing classification banner configuration data
          type: string
    v1Billing:
      description: billing preference
      properties:
        billingDay:
          type: integer
        tierPricing:
          $ref: '#/components/schemas/v1TierPrice'
    v1SystemAdmin:
      description: System Admin information
      properties:
        metadata:
          $ref: '#/components/schemas/v1ObjectMeta'
        spec:
          $ref: '#/components/schemas/v1SystemAdministratorSpec'
        status:
          $ref: '#/components/schemas/v1SystemAdministratorStatus'
      type: object
    v1PlanAddSlaCreditUpdate:
      description: Plan add sla credit update entity
      properties:
        credit:
          $ref: '#/components/schemas/v1PlanCreditEntity'
    v1SystemStorageS3ConfigSpec:
      description: system storage s3 config spec
      properties:
        isEnabled:
          type: boolean
        retentionPolicy:
          $ref: '#/components/schemas/v1SystemRetentionPolicy'
        s3:
          $ref: '#/components/schemas/v1SystemS3Spec'
      type: object
    v1ObjectMetaUpdateEntity:
      description: ObjectMeta update entity with uid as input
      properties:
        annotations:
          additionalProperties:
            type: string
          type: object
        labels:
          additionalProperties:
            type: string
          type: object
        name:
          type: string
        uid:
          type: string
      type: object
    v1SystemOidcClientSpec:
      description: system sso oidc config spec
      properties:
        callbackUrl:
          type: string
          x-omitempty: false
        clientId:
          type: string
          x-omitempty: false
        clientSecret:
          type: string
          x-omitempty: false
        isEnabled:
          type: boolean
          x-omitempty: false
        issuerUrl:
          description: the issuer is the URL identifier for the service
          type: string
          x-omitempty: false
        logoUrl:
          type: string
          x-omitempty: false
        requiredClaims:
          $ref: '#/components/schemas/v1SystemOidcClaims'
        scopes:
          items:
            type: string
          type: array
          x-omitempty: false
      type: object
    v1ObjectMetaInputEntity:
      description: ObjectMeta input entity for object creation
      properties:
        annotations:
          additionalProperties:
            type: string
          description: 'Annotations is an unstructured key value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: http://kubernetes.io/docs/user-guide/annotations'
          type: object
        labels:
          additionalProperties:
            type: string
          description: 'Map of string keys and values that can be used to organize and categorize (scope and select) objects. May match selectors of replication controllers and services. More info: http://kubernetes.io/docs/user-guide/labels'
          type: object
        name:
          description: 'Name must be unique within a namespace. Is required when creating resources, although some resources may allow a client to request the generation of an appropriate name automatically. Name is primarily intended for creation idempotence and configuration definition. Cannot be updated. More info: http://kubernetes.io/docs/user-guide/identifiers#names'
          type: string
      type: object
    v1SystemPlanLimitSpec:
      description: Monthly Plan Limit spec
      properties:
        cpuCoreHours:
          description: cpu cores hours
          format: int64
          type: integer
          x-omitempty: false
        overageLimitPercentage:
          default: 25
          description: overage limit in percentage
          format: int8
          type: integer
          x-omitempty: false
        warnLimitPercentage:
          default: 90
          description: warning limit in percentage
          format: int8
          type: integer
[...]
