openapi: 3.2.0
info:
  title: Palette APIs - 4.9 Pcg API
  version: v1
servers:
- url: https://api.spectrocloud.com
tags:
- name: pcg
  x-displayName: Pcg
paths:
  /v1/pcg/selfHosted:
    post:
      operationId: v1PcgSelfHosted
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1PcgServiceKubectlCommands'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Returns the private gateway manifest link
      tags:
      - pcg
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1PcgSelfHostedParams'
  /v1/pcg/{uid}/register:
    post:
      operationId: v1PcgUidRegister
      parameters:
      - in: path
        name: uid
        required: true
        schema:
          type: string
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: Ok response without content
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
      security:
      - ApiKey: []
      - Authorization: []
      summary: Registers the pcg
      tags:
      - pcg
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1PairingCode'
  /v1/pcg/{uid}/services/ally/manifest:
    parameters:
    - in: path
      name: uid
      required: true
      schema:
        type: string
    get:
      operationId: v1PcgUidAllyManifestGet
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: download file
          headers:
            Content-Disposition:
              schema:
                type: string
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
      security:
      - ApiKey: []
      - Authorization: []
      summary: Returns the pcg ally manifest
      tags:
      - pcg
  /v1/pcg/{uid}/services/jet/manifest:
    parameters:
    - in: path
      name: uid
      required: true
      schema:
        type: string
    get:
      operationId: v1PcgUidJetManifestGet
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: download file
          headers:
            Content-Disposition:
              schema:
                type: string
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
      security:
      - ApiKey: []
      - Authorization: []
      summary: Returns the pcg jet manifest
      tags:
      - pcg
components:
  schemas:
    v1PairingCode:
      description: Pairing code response
      properties:
        pairingCode:
          type: string
      type: object
    v1PcgServiceKubectlCommands:
      description: Array of kubectl commands
      properties:
        kubectlCommands:
          items:
            type: string
          type: array
          uniqueItems: true
        overlordUid:
          type: string
      required:
      - kubectlCommands
      type: object
    v1PcgSelfHostedParams:
      properties:
        cloudType:
          type: string
        name:
          type: string
  securitySchemes:
    ApiKey:
      description: API key authorization where API key can be generated from Palette console under Profile > My API Keys
      in: header
      name: ApiKey
      type: apiKey
    Authorization:
      description: JWT token authorization obtained using /v1/auth/authenticate api
      in: header
      name: Authorization
      type: apiKey
