openapi: 3.2.0
info:
  title: Palette APIs - 4.9 Activations API
  version: v1
servers:
- url: https://api.spectrocloud.com
tags:
- name: Activations
  x-displayName: Activations
paths:
  /v1/activations/system:
    get:
      description: Only for UI to show the banner
      operationId: v1ActivationsSystemGet
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ActivationsSystemResponse'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Error'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Returns system activation state from in-memory cache for UI banner
      tags:
      - Activations
components:
  schemas:
    v1Time:
      description: Time is a wrapper around time.Time which supports correct marshaling to YAML and JSON.  Wrappers are provided for many of the factory methods that the time package offers.
      format: date-time
      type: string
    v1Error:
      properties:
        code:
          type: string
        details:
          type: object
        message:
          type: string
        ref:
          type: string
      type: object
    v1ActivationsSystemResponse:
      properties:
        status:
          properties:
            expiresAt:
              $ref: '#/components/schemas/v1Time'
            state:
              enum:
              - Active
              - Pending
              - Inactive
              type: string
          required:
          - state
          type: object
      type: object
  securitySchemes:
    ApiKey:
      description: API key authorization where API key can be generated from Palette console under Profile > My API Keys
      in: header
      name: ApiKey
      type: apiKey
    Authorization:
      description: JWT token authorization obtained using /v1/auth/authenticate api
      in: header
      name: Authorization
      type: apiKey
