openapi: 3.2.0
info:
  title: Palette APIs - 4.9 Permissions API
  version: v1
servers:
- url: https://api.spectrocloud.com
tags:
- name: Permissions
  x-displayName: Permissions
paths:
  /v1/permissions:
    get:
      operationId: v1PermissionsList
      parameters:
      - in: query
        name: scope
        schema:
          type: string
          enum:
          - system
          - tenant
          - project
          - resource
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Permissions'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a list of permissions
      tags:
      - Permissions
components:
  schemas:
    v1Permission:
      description: Permission information
      properties:
        name:
          type: string
        permissions:
          items:
            type: string
          type: array
        scope:
          $ref: '#/components/schemas/v1Scope'
      type: object
    v1Scope:
      enum:
      - system
      - tenant
      - project
      - resource
      type: string
    v1Permissions:
      description: Array of permissions
      items:
        $ref: '#/components/schemas/v1Permission'
      type: array
  securitySchemes:
    ApiKey:
      description: API key authorization where API key can be generated from Palette console under Profile > My API Keys
      in: header
      name: ApiKey
      type: apiKey
    Authorization:
      description: JWT token authorization obtained using /v1/auth/authenticate api
      in: header
      name: Authorization
      type: apiKey
