openapi: 3.2.0
info:
  title: Palette APIs - 4.9 Tunnel API
  version: v1
servers:
- url: https://api.spectrocloud.com
tags:
- name: Tunnel
  x-displayName: Tunnel
paths:
  /v1/tunnel/config:
    get:
      description: Returns Tunnel Configuration
      operationId: V1TunnelConfiguration
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1TunnelConfiguration'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Get Tunnel Configuration
      tags:
      - Tunnel
components:
  schemas:
    v1TunnelEndpoint:
      properties:
        endpoint:
          description: Describes the URL where the client has to connect to the tunnel server
          type: string
        tls:
          description: Describes the Tunnel tls config which client will use to make a request to the tunnel server
          properties:
            caCert:
              type: string
            enabled:
              type: boolean
            insecureSkipVerify:
              type: boolean
          type: object
      type: object
    v1TunnelConfiguration:
      description: Describes the response that contains the tunnel configuration to establish connection
      properties:
        preferredServer:
          $ref: '#/components/schemas/v1TunnelEndpoint'
        servers:
          items:
            $ref: '#/components/schemas/v1TunnelEndpoint'
          type: array
          uniqueItems: true
      type: object
  securitySchemes:
    ApiKey:
      description: API key authorization where API key can be generated from Palette console under Profile > My API Keys
      in: header
      name: ApiKey
      type: apiKey
    Authorization:
      description: JWT token authorization obtained using /v1/auth/authenticate api
      in: header
      name: Authorization
      type: apiKey
