openapi: 3.2.0
info:
  title: Palette APIs - 4.9 Cloudconfigs API
  version: v1
servers:
- url: https://api.spectrocloud.com
tags:
- name: cloudconfigs
  x-displayName: Cloudconfigs
paths:
  /v1/cloudconfigs/aks/{configUid}:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    get:
      operationId: v1CloudConfigsAksGet
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AzureCloudConfig'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Returns the specified AKS cloud config
      tags:
      - cloudconfigs
  /v1/cloudconfigs/aks/{configUid}/clusterConfig:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    put:
      operationId: v1CloudConfigsAksUidClusterConfig
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the cluster configuration information
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AzureCloudClusterConfigEntity'
  /v1/cloudconfigs/aks/{configUid}/machinePools:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    post:
      operationId: v1CloudConfigsAksMachinePoolCreate
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '201':
          description: Created successfully
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Uid'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Creates an AKS cloud config's machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AzureMachinePoolConfigEntity'
  /v1/cloudconfigs/aks/{configUid}/machinePools/{machinePoolName}:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    - description: Machine pool name
      in: path
      name: machinePoolName
      required: true
      schema:
        type: string
    delete:
      operationId: v1CloudConfigsAksMachinePoolDelete
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was deleted successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Deletes the specified machine pool
      tags:
      - cloudconfigs
    put:
      operationId: v1CloudConfigsAksMachinePoolUpdate
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the specified AKS cloud config's machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AzureMachinePoolConfigEntity'
  /v1/cloudconfigs/aks/{configUid}/machinePools/{machinePoolName}/machines:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    - description: Machine pool name
      in: path
      name: machinePoolName
      required: true
      schema:
        type: string
    get:
      operationId: v1CloudConfigsAksPoolMachinesList
      parameters:
      - description: 'Set of fields to be presented in the response with values. The fields are comma separated. Eg: metadata.uid,metadata.name'
        in: query
        name: fields
        schema:
          type: string
      - description: 'Filters can be combined with AND, OR operators with field path name. Eg: metadata.name=TestServiceANDspec.cloudType=aws


          Server will be restricted to certain fields based on the indexed data for each resource.'
        in: query
        name: filters
        schema:
          type: string
      - description: 'Specify the fields with sort order. 1 indicates ascending and -1 for descending. Eg: orderBy=metadata.name=1,metadata.uid=-1'
        in: query
        name: orderBy
        schema:
          type: string
      - description: 'limit is a maximum number of responses to return for a list call. Default and maximum value of the limit is 50.

          If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results.'
        in: query
        name: limit
        schema:
          type: integer
          format: int64
          default: 50
      - description: offset is the next index number from which the response will start. The response offset value can be used along with continue token for the pagination.
        in: query
        name: offset
        schema:
          type: integer
          format: int64
      - description: continue token to paginate the subsequent data items
        in: query
        name: continue
        schema:
          type: string
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of AKS machine items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AzureMachines'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a list of AKS machines
      tags:
      - cloudconfigs
    post:
      operationId: v1CloudConfigsAksPoolMachinesAdd
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '201':
          description: Created successfully
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Uid'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Adds the machine to cloud config's machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AzureMachine'
  /v1/cloudconfigs/aks/{configUid}/machinePools/{machinePoolName}/machines/{machineUid}:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    - description: Machine pool name
      in: path
      name: machinePoolName
      required: true
      schema:
        type: string
    - description: Machine uid
      in: path
      name: machineUid
      required: true
      schema:
        type: string
    delete:
      operationId: v1CloudConfigsAksPoolMachinesUidDelete
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was deleted successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Deletes the specified Azure machine
      tags:
      - cloudconfigs
    get:
      operationId: v1CloudConfigsAksPoolMachinesUidGet
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AzureMachine'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Returns the specified AKS machine
      tags:
      - cloudconfigs
    put:
      operationId: v1CloudConfigsAksPoolMachinesUidUpdate
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the specified machine to the cloud config's machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AzureMachine'
  /v1/cloudconfigs/apache-cloudstack/{configUid}:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    get:
      operationId: v1CloudConfigsCloudStackGet
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CloudStackCloudConfig'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Returns the specified CloudStack cloud config
      tags:
      - cloudconfigs
  /v1/cloudconfigs/apache-cloudstack/{configUid}/clusterConfig:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    put:
      operationId: v1CloudConfigsCloudStackUidClusterConfig
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the cluster configuration information
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CloudStackCloudClusterConfigEntity'
  /v1/cloudconfigs/apache-cloudstack/{configUid}/machinePools:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    post:
      operationId: v1CloudConfigsCloudStackMachinePoolCreate
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '201':
          description: Created successfully
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Uid'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Creates a CloudStack cloud config's machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CloudStackMachinePoolConfigEntity'
  /v1/cloudconfigs/apache-cloudstack/{configUid}/machinePools/{machinePoolName}:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    - description: Machine pool name
      in: path
      name: machinePoolName
      required: true
      schema:
        type: string
    delete:
      operationId: v1CloudConfigsCloudStackMachinePoolDelete
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was deleted successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Deletes the specified machine pool
      tags:
      - cloudconfigs
    put:
      operationId: v1CloudConfigsCloudStackMachinePoolUpdate
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the specified CloudStack cloud config's machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CloudStackMachinePoolConfigEntity'
  /v1/cloudconfigs/apache-cloudstack/{configUid}/machinePools/{machinePoolName}/machines:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    - description: Machine pool name
      in: path
      name: machinePoolName
      required: true
      schema:
        type: string
    get:
      operationId: v1CloudConfigsCloudStackPoolMachinesList
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of CloudStack machine items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CloudStackMachines'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a list of CloudStack machines
      tags:
      - cloudconfigs
    post:
      operationId: v1CloudConfigsCloudStackPoolMachinesAdd
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '201':
          description: Created successfully
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Uid'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Adds the CloudStack machine to cloud config's machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CloudStackMachine'
  /v1/cloudconfigs/apache-cloudstack/{configUid}/machinePools/{machinePoolName}/machines/{machineUid}:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    - description: Machine pool name
      in: path
      name: machinePoolName
      required: true
      schema:
        type: string
    - description: Machine uid
      in: path
      name: machineUid
      required: true
      schema:
        type: string
    delete:
      operationId: v1CloudConfigsCloudStackPoolMachinesUidDelete
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was deleted successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Deletes the specified CloudStack machine
      tags:
      - cloudconfigs
    get:
      operationId: v1CloudConfigsCloudStackPoolMachinesUidGet
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CloudStackMachine'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Returns the specified CloudStack machine
      tags:
      - cloudconfigs
    put:
      operationId: v1CloudConfigsCloudStackPoolMachinesUidUpdate
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the specified machine to cloud config's machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CloudStackMachine'
  /v1/cloudconfigs/aws/{configUid}:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    get:
      operationId: v1CloudConfigsAwsGet
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AwsCloudConfig'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Returns the specified AWS cloud config
      tags:
      - cloudconfigs
  /v1/cloudconfigs/aws/{configUid}/clusterConfig:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    put:
      operationId: v1CloudConfigsAwsUidClusterConfig
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the cluster configuration information
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AwsCloudClusterConfigEntity'
  /v1/cloudconfigs/aws/{configUid}/clusterConfig/hybridConfig:
    parameters:
    - description: AWS Cluster's Hybrid Configuration
      in: path
      name: configUid
      required: true
      schema:
        type: string
    put:
      operationId: v1AwsCloudConfigsUidHybridConfig
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the hybrid configuration information of AWS cluster
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AwsCloudHybridConfigEntity'
  /v1/cloudconfigs/aws/{configUid}/edge-native/machinePools:
    parameters:
    - description: Hybrid AWS cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    post:
      operationId: V1AwsCloudConfigsEdgeNativeUidMachinePoolCreate
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '201':
          description: Created successfully
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Uid'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Creates an Hybrid AWS cloud config's Edge-Native machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1HybridEdgeNativeMachinePoolConfigEntity'
  /v1/cloudconfigs/aws/{configUid}/edge-native/machinePools/{machinePoolName}:
    parameters:
    - description: AWS Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    - description: Edge-native machine pool name
      in: path
      name: machinePoolName
      required: true
      schema:
        type: string
    delete:
      operationId: v1AwsCloudConfigsEdgeNativeMachinePoolDelete
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was deleted successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Deletes the specified Edge-Native machine pool of hybrid AWS cluster
      tags:
      - cloudconfigs
    get:
      operationId: v1AwsCloudConfigsEdgeNativeMachinePoolGet
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1HybridEdgeNativeMachinePoolConfig'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Returns the specified AWS Cluster's Edge-Native machine pool configuration
      tags:
      - cloudconfigs
    put:
      operationId: v1AwsCloudConfigsEdgeNativeMachinePoolUpdate
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the specified Hybrid AWS cluster cloud config's Edge-Native machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1HybridEdgeNativeMachinePoolConfigUpdateEntity'
  /v1/cloudconfigs/aws/{configUid}/machinePools:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    post:
      operationId: v1CloudConfigsAwsMachinePoolCreate
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '201':
          description: Created successfully
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Uid'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Creates an AWS cloud config's machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AwsMachinePoolConfigEntity'
  /v1/cloudconfigs/aws/{configUid}/machinePools/{machinePoolName}:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    - description: Machine pool name
      in: path
      name: machinePoolName
      required: true
      schema:
        type: string
    delete:
      operationId: v1CloudConfigsAwsMachinePoolDelete
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was deleted successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Deletes the specified machine pool
      tags:
      - cloudconfigs
    put:
      operationId: v1CloudConfigsAwsMachinePoolUpdate
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the specified AWS cloud config's machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AwsMachinePoolConfigEntity'
  /v1/cloudconfigs/aws/{configUid}/machinePools/{machinePoolName}/machines:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    - description: Machine pool name
      in: path
      name: machinePoolName
      required: true
      schema:
        type: string
    get:
      operationId: v1CloudConfigsAwsPoolMachinesList
      parameters:
      - description: 'Set of fields to be presented in the response with values. The fields are comma separated. Eg: metadata.uid,metadata.name'
        in: query
        name: fields
        schema:
          type: string
      - description: 'Filters can be combined with AND, OR operators with field path name. Eg: metadata.name=TestServiceANDspec.cloudType=aws


          Server will be restricted to certain fields based on the indexed data for each resource.'
        in: query
        name: filters
        schema:
          type: string
      - description: 'Specify the fields with sort order. 1 indicates ascending and -1 for descending. Eg: orderBy=metadata.name=1,metadata.uid=-1'
        in: query
        name: orderBy
        schema:
          type: string
      - description: 'limit is a maximum number of responses to return for a list call. Default and maximum value of the limit is 50.

          If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results.'
        in: query
        name: limit
        schema:
          type: integer
          format: int64
          default: 50
      - description: offset is the next index number from which the response will start. The response offset value can be used along with continue token for the pagination.
        in: query
        name: offset
        schema:
          type: integer
          format: int64
      - description: continue token to paginate the subsequent data items
        in: query
        name: continue
        schema:
          type: string
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of AWS machine items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AwsMachines'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a list of AWS machines
      tags:
      - cloudconfigs
    post:
      operationId: v1CloudConfigsAwsPoolMachinesAdd
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '201':
          description: Created successfully
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Uid'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Adds the machine to cloud config's machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AwsMachine'
  /v1/cloudconfigs/aws/{configUid}/machinePools/{machinePoolName}/machines/{machineUid}:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    - description: Machine pool name
      in: path
      name: machinePoolName
      required: true
      schema:
        type: string
    - description: Machine uid
      in: path
      name: machineUid
      required: true
      schema:
        type: string
    delete:
      operationId: v1CloudConfigsAwsPoolMachinesUidDelete
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was deleted successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Deletes the specified AWS machine
      tags:
      - cloudconfigs
    get:
      operationId: v1CloudConfigsAwsPoolMachinesUidGet
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AwsMachine'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Returns the specified AWS machine
      tags:
      - cloudconfigs
    put:
      operationId: v1CloudConfigsAwsPoolMachinesUidUpdate
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the specified machine to the cloud config's machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AwsMachine'
  /v1/cloudconfigs/azure/{configUid}:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    get:
      operationId: v1CloudConfigsAzureGet
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AzureCloudConfig'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Returns the specified Azure cloud config
      tags:
      - cloudconfigs
  /v1/cloudconfigs/azure/{configUid}/clusterConfig:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    put:
      operationId: v1CloudConfigsAzureUidClusterConfig
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the cluster configuration information
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AzureCloudClusterConfigEntity'
  /v1/cloudconfigs/azure/{configUid}/machinePools:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    post:
      operationId: v1CloudConfigsAzureMachinePoolCreate
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '201':
          description: Created successfully
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Uid'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Creates an Azure cloud config's machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AzureMachinePoolConfigEntity'
  /v1/cloudconfigs/azure/{configUid}/machinePools/{machinePoolName}:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    - description: Machine pool name
      in: path
      name: machinePoolName
      required: true
      schema:
        type: string
    delete:
      operationId: v1CloudConfigsAzureMachinePoolDelete
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was deleted successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Deletes the specified machine pool
      tags:
      - cloudconfigs
    put:
      operationId: v1CloudConfigsAzureMachinePoolUpdate
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the specified Azure cloud config's machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AzureMachinePoolConfigEntity'
  /v1/cloudconfigs/azure/{configUid}/machinePools/{machinePoolName}/machines:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    - description: Machine pool name
      in: path
      name: machinePoolName
      required: true
      schema:
        type: string
    get:
      description: Returns all the Azure machines restricted to the user role and filters.
      operationId: v1CloudConfigsAzurePoolMachinesList
      parameters:
      - description: 'Set of fields to be presented in the response with values. The fields are comma separated. Eg: metadata.uid,metadata.name'
        in: query
        name: fields
        schema:
          type: string
      - description: 'Filters can be combined with AND, OR operators with field path name. Eg: metadata.name=TestServiceANDspec.cloudType=aws


          Server will be restricted to certain fields based on the indexed data for each resource.'
        in: query
        name: filters
        schema:
          type: string
      - description: 'Specify the fields with sort order. 1 indicates ascending and -1 for descending. Eg: orderBy=metadata.name=1,metadata.uid=-1'
        in: query
        name: orderBy
        schema:
          type: string
      - description: 'limit is a maximum number of responses to return for a list call. Default and maximum value of the limit is 50.

          If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results.'
        in: query
        name: limit
        schema:
          type: integer
          format: int64
          default: 50
      - description: offset is the next index number from which the response will start. The response offset value can be used along with continue token for the pagination.
        in: query
        name: offset
        schema:
          type: integer
          format: int64
      - description: continue token to paginate the subsequent data items
        in: query
        name: continue
        schema:
          type: string
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of AWS machine items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AzureMachines'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a list of Azure machines
      tags:
      - cloudconfigs
    post:
      operationId: v1CloudConfigsAzurePoolMachinesAdd
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '201':
          description: Created successfully
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Uid'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Adds the machine to cloud config's machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AzureMachine'
  /v1/cloudconfigs/azure/{configUid}/machinePools/{machinePoolName}/machines/{machineUid}:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    - description: Machine pool name
      in: path
      name: machinePoolName
      required: true
      schema:
        type: string
    - description: Machine uid
      in: path
      name: machineUid
      required: true
      schema:
        type: string
    delete:
      operationId: v1CloudConfigsAzurePoolMachinesUidDelete
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was deleted successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Deletes the specified Azure machine
      tags:
      - cloudconfigs
    get:
      description: Returns a Azure machine for the specified uid.
      operationId: v1CloudConfigsAzurePoolMachinesUidGet
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AzureMachine'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Returns the specified Azure machine
      tags:
      - cloudconfigs
    put:
      operationId: v1CloudConfigsAzurePoolMachinesUidUpdate
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the specified machine to cloud config's machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AzureMachine'
  /v1/cloudconfigs/cloudTypes/{cloudType}/{configUid}:
    parameters:
    - description: Cluster's cloud type
      in: path
      name: cloudType
      required: true
      schema:
        type: string
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    get:
      operationId: v1CloudConfigsCustomGet
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CustomCloudConfig'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Returns the specified Custom cloud config
      tags:
      - cloudconfigs
  /v1/cloudconfigs/cloudTypes/{cloudType}/{configUid}/clusterConfig:
    parameters:
    - description: Cluster's cloud type
      in: path
      name: cloudType
      required: true
      schema:
        type: string
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    put:
      operationId: v1CloudConfigsCustomUidClusterConfig
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the cluster configuration information
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CustomCloudClusterConfigEntity'
  /v1/cloudconfigs/cloudTypes/{cloudType}/{configUid}/machinePools:
    parameters:
    - description: Cluster's cloud type
      in: path
      name: cloudType
      required: true
      schema:
        type: string
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    post:
      operationId: v1CloudConfigsCustomMachinePoolCreate
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '201':
          description: Created successfully
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Uid'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Creates an Custom cloud config's machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CustomMachinePoolConfigEntity'
  /v1/cloudconfigs/cloudTypes/{cloudType}/{configUid}/machinePools/{machinePoolName}:
    parameters:
    - description: Cluster's cloud type
      in: path
      name: cloudType
      required: true
      schema:
        type: string
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    - description: Machine pool name
      in: path
      name: machinePoolName
      required: true
      schema:
        type: string
    delete:
      operationId: v1CloudConfigsCustomMachinePoolDelete
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was deleted successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Deletes the specified machine pool
      tags:
      - cloudconfigs
    put:
      operationId: v1CloudConfigsCustomMachinePoolUpdate
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the specified Custom cloud config's machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CustomMachinePoolConfigEntity'
  /v1/cloudconfigs/cloudTypes/{cloudType}/{configUid}/machinePools/{machinePoolName}/machines:
    parameters:
    - description: Cluster's cloud type
      in: path
      name: cloudType
      required: true
      schema:
        type: string
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    - description: Machine pool name
      in: path
      name: machinePoolName
      required: true
      schema:
        type: string
    get:
      operationId: v1CloudConfigsCustomPoolMachinesList
      parameters:
      - description: 'Set of fields to be presented in the response with values. The fields are comma separated. Eg: metadata.uid,metadata.name'
        in: query
        name: fields
        schema:
          type: string
      - description: 'Filters can be combined with AND, OR operators with field path name. Eg: metadata.name=TestServiceANDspec.cloudType=aws


          Server will be restricted to certain fields based on the indexed data for each resource.'
        in: query
        name: filters
        schema:
          type: string
      - description: 'Specify the fields with sort order. 1 indicates ascending and -1 for descending. Eg: orderBy=metadata.name=1,metadata.uid=-1'
        in: query
        name: orderBy
        schema:
          type: string
      - description: 'limit is a maximum number of responses to return for a list call. Default and maximum value of the limit is 50.

          If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results.'
        in: query
        name: limit
        schema:
          type: integer
          format: int64
          default: 50
      - description: offset is the next index number from which the response will start. The response offset value can be used along with continue token for the pagination.
        in: query
        name: offset
        schema:
          type: integer
          format: int64
      - description: continue token to paginate the subsequent data items
        in: query
        name: continue
        schema:
          type: string
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of Custom machine items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CustomMachines'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a list of Custom machines
      tags:
      - cloudconfigs
    post:
      operationId: v1CloudConfigsCustomPoolMachinesAdd
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '201':
          description: Created successfully
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Uid'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Adds the machine to cloud config's machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CustomMachine'
  /v1/cloudconfigs/cloudTypes/{cloudType}/{configUid}/machinePools/{machinePoolName}/machines/{machineUid}:
    parameters:
    - description: Cluster's cloud type
      in: path
      name: cloudType
      required: true
      schema:
        type: string
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    - description: Machine pool name
      in: path
      name: machinePoolName
      required: true
      schema:
        type: string
    - description: Machine uid
      in: path
      name: machineUid
      required: true
      schema:
        type: string
    delete:
      operationId: v1CloudConfigsCustomPoolMachinesUidDelete
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was deleted successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Deletes the specified Custom machine
      tags:
      - cloudconfigs
    get:
      operationId: v1CloudConfigsCustomPoolMachinesUidGet
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CustomMachine'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Returns the specified Custom machine
      tags:
      - cloudconfigs
    put:
      operationId: v1CloudConfigsCustomPoolMachinesUidUpdate
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the specified machine to the cloud config's machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CustomMachine'
  /v1/cloudconfigs/edge-native/{configUid}:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    get:
      operationId: v1CloudConfigsEdgeNativeGet
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1EdgeNativeCloudConfig'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Returns the specified edge-native cloud config
      tags:
      - cloudconfigs
  /v1/cloudconfigs/edge-native/{configUid}/clusterConfig:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    put:
      operationId: v1CloudConfigsEdgeNativeUidClusterConfig
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the cluster configuration information
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1EdgeNativeCloudClusterConfigEntity'
  /v1/cloudconfigs/edge-native/{configUid}/machinePools:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    post:
      operationId: v1CloudConfigsEdgeNativeMachinePoolCreate
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '201':
          description: Created successfully
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Uid'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Creates a edge-native cloud config's machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1EdgeNativeMachinePoolConfigEntity'
  /v1/cloudconfigs/edge-native/{configUid}/machinePools/{machinePoolName}:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    - description: Machine pool name
      in: path
      name: machinePoolName
      required: true
      schema:
        type: string
    delete:
      operationId: v1CloudConfigsEdgeNativeMachinePoolDelete
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was deleted successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Deletes the specified machine pool
      tags:
      - cloudconfigs
    put:
      operationId: v1CloudConfigsEdgeNativeMachinePoolUpdate
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the specified edge-native cloud config's machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1EdgeNativeMachinePoolConfigEntity'
  /v1/cloudconfigs/edge-native/{configUid}/machinePools/{machinePoolName}/machines:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    - description: Machine pool name
      in: path
      name: machinePoolName
      required: true
      schema:
        type: string
    get:
      operationId: v1CloudConfigsEdgeNativePoolMachinesList
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of edge-native machine items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1EdgeNativeMachines'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a list of edge-native machines
      tags:
      - cloudconfigs
    post:
      operationId: v1CloudConfigsEdgeNativePoolMachinesAdd
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '201':
          description: Created successfully
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Uid'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Adds the edge-native machine to cloud config's machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1EdgeNativeMachine'
  /v1/cloudconfigs/edge-native/{configUid}/machinePools/{machinePoolName}/machines/{machineUid}:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    - description: Machine pool name
      in: path
      name: machinePoolName
      required: true
      schema:
        type: string
    - description: Machine uid
      in: path
      name: machineUid
      required: true
      schema:
        type: string
    delete:
      operationId: v1CloudConfigsEdgeNativePoolMachinesUidDelete
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was deleted successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Deletes the specified edge-native machine
      tags:
      - cloudconfigs
    get:
      operationId: v1CloudConfigsEdgeNativePoolMachinesUidGet
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1EdgeNativeMachine'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Returns the specified edge-native machine
      tags:
      - cloudconfigs
    put:
      operationId: v1CloudConfigsEdgeNativePoolMachinesUidUpdate
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the specified machine to cloud config's machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1EdgeNativeMachine'
  /v1/cloudconfigs/eks/{configUid}:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    get:
      operationId: v1CloudConfigsEksGet
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1EksCloudConfig'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Returns the specified EKS cloud config
      tags:
      - cloudconfigs
  /v1/cloudconfigs/eks/{configUid}/clusterConfig:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    put:
      operationId: v1CloudConfigsEksUidClusterConfig
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the cluster configuration information
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1EksCloudClusterConfigEntity'
  /v1/cloudconfigs/eks/{configUid}/fargateProfiles:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    put:
      operationId: v1CloudConfigsEksUidFargateProfilesUpdate
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates EKS cloud config's fargate profiles
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1EksFargateProfiles'
  /v1/cloudconfigs/eks/{configUid}/machinePools:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    post:
      operationId: v1CloudConfigsEksMachinePoolCreate
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '201':
          description: Created successfully
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Uid'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Creates an EKS cloud config's machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1EksMachinePoolConfigEntity'
  /v1/cloudconfigs/eks/{configUid}/machinePools/{machinePoolName}:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    - description: Machine pool name
      in: path
      name: machinePoolName
      required: true
      schema:
        type: string
    delete:
      operationId: v1CloudConfigsEksMachinePoolDelete
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was deleted successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Deletes the specified machine pool
      tags:
      - cloudconfigs
    put:
      operationId: v1CloudConfigsEksMachinePoolUpdate
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the specified EKS cloud config's machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1EksMachinePoolConfigEntity'
  /v1/cloudconfigs/eks/{configUid}/machinePools/{machinePoolName}/machines:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    - description: Machine pool name
      in: path
      name: machinePoolName
      required: true
      schema:
        type: string
    get:
      operationId: v1CloudConfigsEksPoolMachinesList
      parameters:
      - description: 'Set of fields to be presented in the response with values. The fields are comma separated. Eg: metadata.uid,metadata.name'
        in: query
        name: fields
        schema:
          type: string
      - description: 'Filters can be combined with AND, OR operators with field path name. Eg: metadata.name=TestServiceANDspec.cloudType=aws


          Server will be restricted to certain fields based on the indexed data for each resource.'
        in: query
        name: filters
        schema:
          type: string
      - description: 'Specify the fields with sort order. 1 indicates ascending and -1 for descending. Eg: orderBy=metadata.name=1,metadata.uid=-1'
        in: query
        name: orderBy
        schema:
          type: string
      - description: 'limit is a maximum number of responses to return for a list call. Default and maximum value of the limit is 50.

          If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results.'
        in: query
        name: limit
        schema:
          type: integer
          format: int64
          default: 50
      - description: offset is the next index number from which the response will start. The response offset value can be used along with continue token for the pagination.
        in: query
        name: offset
        schema:
          type: integer
          format: int64
      - description: continue token to paginate the subsequent data items
        in: query
        name: continue
        schema:
          type: string
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of EKS machine items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AwsMachines'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a list of EKS machines
      tags:
      - cloudconfigs
    post:
      operationId: v1CloudConfigsEksPoolMachinesAdd
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '201':
          description: Created successfully
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Uid'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Adds the machine to cloud config's machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AwsMachine'
  /v1/cloudconfigs/eks/{configUid}/machinePools/{machinePoolName}/machines/{machineUid}:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    - description: Machine pool name
      in: path
      name: machinePoolName
      required: true
      schema:
        type: string
    - description: Machine uid
      in: path
      name: machineUid
      required: true
      schema:
        type: string
    delete:
      operationId: v1CloudConfigsEksPoolMachinesUidDelete
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was deleted successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Deletes the specified EKS machine
      tags:
      - cloudconfigs
    get:
      operationId: v1CloudConfigsEksPoolMachinesUidGet
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AwsMachine'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Returns the specified EKS machine
      tags:
      - cloudconfigs
    put:
      operationId: v1CloudConfigsEksPoolMachinesUidUpdate
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the specified machine to the cloud config's machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AwsMachine'
  /v1/cloudconfigs/gcp/{configUid}:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    get:
      operationId: v1CloudConfigsGcpGet
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GcpCloudConfig'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Returns the specified GCP cloud config
      tags:
      - cloudconfigs
  /v1/cloudconfigs/gcp/{configUid}/clusterConfig:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    put:
      operationId: v1CloudConfigsGcpUidClusterConfig
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the cluster configuration information
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GcpCloudClusterConfigEntity'
  /v1/cloudconfigs/gcp/{configUid}/machinePools:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    post:
      operationId: v1CloudConfigsGcpMachinePoolCreate
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '201':
          description: Created successfully
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Uid'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Creates a Gcp cloud config's machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GcpMachinePoolConfigEntity'
  /v1/cloudconfigs/gcp/{configUid}/machinePools/{machinePoolName}:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    - description: Machine pool name
      in: path
      name: machinePoolName
      required: true
      schema:
        type: string
    delete:
      operationId: v1CloudConfigsGcpMachinePoolDelete
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was deleted successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Deletes the specified machine pool
      tags:
      - cloudconfigs
    put:
      operationId: v1CloudConfigsGcpMachinePoolUpdate
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the specified GCP cloud config's machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GcpMachinePoolConfigEntity'
  /v1/cloudconfigs/gcp/{configUid}/machinePools/{machinePoolName}/machines:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    - description: Machine pool name
      in: path
      name: machinePoolName
      required: true
      schema:
        type: string
    get:
      operationId: v1CloudConfigsGcpPoolMachinesList
      parameters:
      - description: 'Set of fields to be presented in the response with values. The fields are comma separated. Eg: metadata.uid,metadata.name'
        in: query
        name: fields
        schema:
          type: string
      - description: 'Filters can be combined with AND, OR operators with field path name. Eg: metadata.name=TestServiceANDspec.cloudType=aws


          Server will be restricted to certain fields based on the indexed data for each resource.'
        in: query
        name: filters
        schema:
          type: string
      - description: 'Specify the fields with sort order. 1 indicates ascending and -1 for descending. Eg: orderBy=metadata.name=1,metadata.uid=-1'
        in: query
        name: orderBy
        schema:
          type: string
      - description: 'limit is a maximum number of responses to return for a list call. Default and maximum value of the limit is 50.

          If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results.'
        in: query
        name: limit
        schema:
          type: integer
          format: int64
          default: 50
      - description: offset is the next index number from which the response will start. The response offset value can be used along with continue token for the pagination.
        in: query
        name: offset
        schema:
          type: integer
          format: int64
      - description: continue token to paginate the subsequent data items
        in: query
        name: continue
        schema:
          type: string
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of GCP machine items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GcpMachines'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a list of GCP machines
      tags:
      - cloudconfigs
    post:
      operationId: v1CloudConfigsGcpPoolMachinesAdd
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '201':
          description: Created successfully
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Uid'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Adds the machine to cloud config's machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GcpMachine'
  /v1/cloudconfigs/gcp/{configUid}/machinePools/{machinePoolName}/machines/{machineUid}:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    - description: Machine pool name
      in: path
      name: machinePoolName
      required: true
      schema:
        type: string
    - description: Machine uid
      in: path
      name: machineUid
      required: true
      schema:
        type: string
    delete:
      operationId: v1CloudConfigsGcpPoolMachinesUidDelete
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was deleted successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Deletes the specified GCP machine
      tags:
      - cloudconfigs
    get:
      operationId: v1CloudConfigsGcpPoolMachinesUidGet
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GcpMachine'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Returns the specified GCP machine
      tags:
      - cloudconfigs
    put:
      operationId: v1CloudConfigsGcpPoolMachinesUidUpdate
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the specified machine to the cloud config's machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GcpMachine'
  /v1/cloudconfigs/generic/{configUid}:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    get:
      operationId: v1CloudConfigsGenericGet
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GenericCloudConfig'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Returns the specified Generic cloud config
      tags:
      - cloudconfigs
  /v1/cloudconfigs/generic/{configUid}/clusterConfig:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    put:
      operationId: v1CloudConfigsGenericUidClusterConfig
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the cluster configuration information
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GenericCloudClusterConfigEntity'
  /v1/cloudconfigs/generic/{configUid}/machinePools:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    post:
      operationId: v1CloudConfigsGenericMachinePoolCreate
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '201':
          description: Created successfully
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Uid'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Creates a generic cloud config's machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GenericMachinePoolConfigEntity'
  /v1/cloudconfigs/generic/{configUid}/machinePools/{machinePoolName}:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    - description: Machine pool name
      in: path
      name: machinePoolName
      required: true
      schema:
        type: string
    delete:
      operationId: v1CloudConfigsGenericMachinePoolDelete
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was deleted successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Deletes the specified machine pool
      tags:
      - cloudconfigs
    put:
      operationId: v1CloudConfigsGenericMachinePoolUpdate
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the specified generic cloud config's machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GenericMachinePoolConfigEntity'
  /v1/cloudconfigs/generic/{configUid}/machinePools/{machinePoolName}/machines:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    - description: Machine pool name
      in: path
      name: machinePoolName
      required: true
      schema:
        type: string
    get:
      operationId: v1CloudConfigsGenericPoolMachinesList
      parameters:
      - description: 'Set of fields to be presented in the response with values. The fields are comma separated. Eg: metadata.uid,metadata.name'
        in: query
        name: fields
        schema:
          type: string
      - description: 'Filters can be combined with AND, OR operators with field path name. Eg: metadata.name=TestServiceANDspec.cloudType=aws


          Server will be restricted to certain fields based on the indexed data for each resource.'
        in: query
        name: filters
        schema:
          type: string
      - description: 'Specify the fields with sort order. 1 indicates ascending and -1 for descending. Eg: orderBy=metadata.name=1,metadata.uid=-1'
        in: query
        name: orderBy
        schema:
          type: string
      - description: 'limit is a maximum number of responses to return for a list call. Default and maximum value of the limit is 50.

          If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results.'
        in: query
        name: limit
        schema:
          type: integer
          format: int64
          default: 50
      - description: offset is the next index number from which the response will start. The response offset value can be used along with continue token for the pagination.
        in: query
        name: offset
        schema:
          type: integer
          format: int64
      - description: continue token to paginate the subsequent data items
        in: query
        name: continue
        schema:
          type: string
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of Generic machine items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GenericMachines'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a list of Generic machines
      tags:
      - cloudconfigs
    post:
      operationId: v1CloudConfigsGenericPoolMachinesAdd
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '201':
          description: Created successfully
          headers:
            AuditUid:
              description: Audit uid for the request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Uid'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Adds the machine to cloud config's machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GenericMachine'
  /v1/cloudconfigs/generic/{configUid}/machinePools/{machinePoolName}/machines/{machineUid}:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    - description: Machine pool name
      in: path
      name: machinePoolName
      required: true
      schema:
        type: string
    - description: Machine uid
      in: path
      name: machineUid
      required: true
      schema:
        type: string
    delete:
      operationId: v1CloudConfigsGenericPoolMachinesUidDelete
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was deleted successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Deletes the specified machine
      tags:
      - cloudconfigs
    get:
      operationId: v1CloudConfigsGenericPoolMachinesUidGet
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GenericMachine'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Returns the specified generic machine
      tags:
      - cloudconfigs
    put:
      operationId: v1CloudConfigsGenericPoolMachinesUidUpdate
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was updated successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Updates the specified machine to the cloud config's machine pool
      tags:
      - cloudconfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GenericMachine'
  /v1/cloudconfigs/gke/{configUid}:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    get:
      operationId: v1CloudConfigsGkeGet
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GcpCloudConfig'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Returns the specified GKE cloud config
      tags:
      - cloudconfigs
  /v1/cloudconfigs/gke/{configUid}/clusterConfig:
    parameters:
    - description: Cluster's cloud config uid
      in: path
      name: configUid
      required: true
      schema:
        type: string
    put:
      operationId: v1CloudConfigsGkeUidClusterConfig
      parameters:
[...]
