openapi: 3.2.0
info:
  title: Palette APIs - 4.9 Grpc API
  version: v1
servers:
- url: https://api.spectrocloud.com
tags:
- name: grpc
  x-displayName: Grpc
paths:
  /v1/grpc/config:
    get:
      description: Returns Grpc Configuration
      operationId: V1GrpcConfiguration
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GrpcConfiguration'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Get Grpc Configuration
      tags:
      - grpc
components:
  schemas:
    v1GrpcConfiguration:
      description: Describes the response that contains the grpc configuration to establish connection
      properties:
        preferredServer:
          $ref: '#/components/schemas/v1GrpcEndpoint'
        servers:
          items:
            $ref: '#/components/schemas/v1GrpcEndpoint'
          type: array
          uniqueItems: true
      type: object
    v1GrpcEndpoint:
      properties:
        endpoint:
          description: Describes the URL where the client has to connect to the grpc server
          type: string
        tls:
          description: Describes the Grpc tls config which client will use to make a request to the grpc server
          properties:
            caCert:
              type: string
            enabled:
              type: boolean
            insecureSkipVerify:
              type: boolean
          type: object
      type: object
  securitySchemes:
    ApiKey:
      description: API key authorization where API key can be generated from Palette console under Profile > My API Keys
      in: header
      name: ApiKey
      type: apiKey
    Authorization:
      description: JWT token authorization obtained using /v1/auth/authenticate api
      in: header
      name: Authorization
      type: apiKey
