openapi: 3.2.0
info:
  title: Palette APIs - 4.9 Dashboard API
  version: v1
servers:
- url: https://api.spectrocloud.com
tags:
- name: Dashboard
  x-displayName: Dashboard
paths:
  /v1/dashboard/appDeployments:
    post:
      operationId: v1DashboardAppDeployments
      parameters:
      - description: 'limit is a maximum number of responses to return for a list call. Maximum value of the limit is 50.

          If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results.'
        in: query
        name: limit
        schema:
          type: integer
          format: int64
          maximum: 50
      - description: offset is the next index number from which the response will start. The response offset value can be used along with continue token for the pagination.
        in: query
        name: offset
        schema:
          type: integer
          format: int64
      - description: continue token to paginate the subsequent data items
        in: query
        name: continue
        schema:
          type: string
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of application deployment summary items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AppDeploymentsSummary'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a list of application deployments filter summary Supported filter…
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AppDeploymentsFilterSpec'
  /v1/dashboard/appProfiles:
    post:
      operationId: v1DashboardAppProfiles
      parameters:
      - description: 'limit is a maximum number of responses to return for a list call. Maximum value of the limit is 50.

          If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results.'
        in: query
        name: limit
        schema:
          type: integer
          format: int64
          maximum: 50
      - description: offset is the next index number from which the response will start. The response offset value can be used along with continue token for the pagination.
        in: query
        name: offset
        schema:
          type: integer
          format: int64
      - description: continue token to paginate the subsequent data items
        in: query
        name: continue
        schema:
          type: string
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of application profiles summary items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AppProfilesSummary'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a list of application profiles filter summary Supported filter fields…
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AppProfilesFilterSpec'
  /v1/dashboard/appProfiles/metadata:
    get:
      operationId: v1DashboardAppProfilesMetadata
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of application profile summary items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AppProfilesMetadata'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a list of application profile metadata
      tags:
      - Dashboard
  /v1/dashboard/appliances/metadata:
    post:
      operationId: v1EdgeHostsMetadata
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of edgenative pair summary items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1EdgeHostsMetadataSummary'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a list of edgehosts summary
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1EdgeHostsMetadataFilter'
  /v1/dashboard/cloudaccounts/metadata:
    get:
      operationId: v1DashboardCloudAccountsMetadata
      parameters:
      - in: query
        name: environment
        schema:
          type: string
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of cloud accounts summary items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CloudAccountsMetadata'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a list of cloud accounts metadata
      tags:
      - Dashboard
  /v1/dashboard/clusterTemplates:
    post:
      operationId: v1ClusterTemplatesFilterSummary
      parameters:
      - description: 'limit is a maximum number of responses to return for a list call. Maximum value of the limit is 50.

          If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results.'
        in: query
        name: limit
        schema:
          type: integer
          format: int64
          maximum: 50
      - description: offset is the next index number from which the response will start. The response offset value can be used along with continue token for the pagination.
        in: query
        name: offset
        schema:
          type: integer
          format: int64
      - description: continue token to paginate the subsequent data items
        in: query
        name: continue
        schema:
          type: string
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of cluster template summary items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ClusterTemplatesSummary'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a list of cluster templates filter summary Supported filter fields…
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ClusterTemplatesFilterSummarySpec'
  /v1/dashboard/clusterTemplates/metadata:
    get:
      operationId: v1ClusterTemplatesMetadataGet
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of cluster template metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ClusterTemplatesMetadata'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a list of all cluster template metadata
      tags:
      - Dashboard
  /v1/dashboard/clusterTemplates/{uid}/spectroclusters/meta:
    get:
      operationId: v1ClusterTemplatesUidSpectroclustersMetaGet
      parameters:
      - description: The UID of the cluster template
        in: path
        name: uid
        required: true
        schema:
          type: string
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of spectrocluster meta information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SpectroClustersMeta'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves spectroclusters meta information for clusters launched using the…
      tags:
      - Dashboard
  /v1/dashboard/clustergroups/{uid}/hostClusters:
    post:
      operationId: v1ClusterGroupUidHostClustersSummary
      parameters:
      - in: path
        name: uid
        required: true
        schema:
          type: string
      - description: 'limit is a maximum number of responses to return for a list call. Default and maximum value of the limit is 50.

          If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results.'
        in: query
        name: limit
        schema:
          type: integer
          format: int64
          default: 50
      - description: offset is the next index number from which the response will start. The response offset value can be used along with continue token for the pagination.
        in: query
        name: offset
        schema:
          type: integer
          format: int64
      - description: continue token to paginate the subsequent data items
        in: query
        name: continue
        schema:
          type: string
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of cluster summary items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SpectroClustersSummary'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a list of cluster summary for a given cluster group
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SearchFilterSummarySpec'
  /v1/dashboard/clustergroups/{uid}/virtualClusters:
    post:
      operationId: v1ClusterGroupUidVirtualClustersSummary
      parameters:
      - in: path
        name: uid
        required: true
        schema:
          type: string
      - description: 'limit is a maximum number of responses to return for a list call. Default and maximum value of the limit is 50.

          If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results.'
        in: query
        name: limit
        schema:
          type: integer
          format: int64
          default: 50
      - description: offset is the next index number from which the response will start. The response offset value can be used along with continue token for the pagination.
        in: query
        name: offset
        schema:
          type: integer
          format: int64
      - description: continue token to paginate the subsequent data items
        in: query
        name: continue
        schema:
          type: string
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of cluster summary items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SpectroClustersSummary'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a list of cluster summary for a given cluster group
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SearchFilterSummarySpec'
  /v1/dashboard/clusterprofiles:
    post:
      operationId: v1ClusterProfilesFilterSummary
      parameters:
      - description: 'limit is a maximum number of responses to return for a list call. Maximum value of the limit is 50.

          If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results.'
        in: query
        name: limit
        schema:
          type: integer
          format: int64
          maximum: 50
      - description: offset is the next index number from which the response will start. The response offset value can be used along with continue token for the pagination.
        in: query
        name: offset
        schema:
          type: integer
          format: int64
      - description: continue token to paginate the subsequent data items
        in: query
        name: continue
        schema:
          type: string
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of cluster profiles summary items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ClusterProfilesSummary'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a list of cluster profiles filter summary Supported filter fields…
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ClusterProfilesFilterSpec'
  /v1/dashboard/clusterprofiles/metadata:
    get:
      operationId: v1ClusterProfilesMetadata
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of cluster summary items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ClusterProfilesMetadata'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a list of cluster profiles metadata
      tags:
      - Dashboard
  /v1/dashboard/clusterprofiles/{uid}:
    parameters:
    - in: path
      name: uid
      required: true
      schema:
        type: string
    get:
      operationId: v1ClusterProfilesUidSummary
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: Cluster profile summary response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ClusterProfileSummary'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a specified cluster profile summary
      tags:
      - Dashboard
  /v1/dashboard/edgehosts/search:
    post:
      operationId: v1DashboardEdgehostsSearch
      parameters:
      - description: 'limit is a maximum number of responses to return for a list call. Maximum value of the limit is 50.

          If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results.'
        in: query
        name: limit
        schema:
          type: integer
          format: int64
          maximum: 50
      - description: offset is the next index number from which the response will start. The response offset value can be used along with continue token for the pagination.
        in: query
        name: offset
        schema:
          type: integer
          format: int64
      - description: continue token to paginate the subsequent data items
        in: query
        name: continue
        schema:
          type: string
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of edgenative pair summary items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1EdgeHostsSearchSummary'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a list of Edgehosts summary with provided search filter.
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SearchFilterSummarySpec'
  /v1/dashboard/edgehosts/search/schema:
    get:
      operationId: v1DashboardEdgehostsSearchSchemaGet
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of schema items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SearchFilterSchemaSpec'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a schema for the Edgehost search filter
      tags:
      - Dashboard
  /v1/dashboard/pcgs/search:
    post:
      operationId: v1DashboardPcgsSearchSummary
      parameters:
      - description: 'limit is a maximum number of responses to return for a list call. Maximum value of the limit is 50.

          If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results.'
        in: query
        name: limit
        schema:
          type: integer
          format: int64
          maximum: 50
      - description: offset is the next index number from which the response will start. The response offset value can be used along with continue token for the pagination.
        in: query
        name: offset
        schema:
          type: integer
          format: int64
      - description: continue token to paginate the subsequent data items
        in: query
        name: continue
        schema:
          type: string
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of cluster summary items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1PcgsSummary'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a list of PCG summary with provided search filter.
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SearchFilterSummarySpec'
  /v1/dashboard/pcgs/search/schema:
    get:
      operationId: v1DashboardPcgSearchSchemaGet
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of schema items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SearchFilterSchemaSpec'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a schema for the PCG search filter
      tags:
      - Dashboard
  /v1/dashboard/projects:
    get:
      description: 'Deprecated: Use POST /v1/dashboard/projects'
      operationId: v1ProjectsSummary
      parameters:
      - description: 'limit is a maximum number of responses to return for a list call. Default and maximum value of the limit is 50.

          If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results.'
        in: query
        name: limit
        schema:
          type: integer
          format: int64
          default: 50
      - description: offset is the next index number from which the response will start. The response offset value can be used along with continue token for the pagination.
        in: query
        name: offset
        schema:
          type: integer
          format: int64
      - description: continue token to paginate the subsequent data items
        in: query
        name: continue
        schema:
          type: string
      - description: Metric period in minutes defines latest metrics by period
        in: query
        name: metricPeriod
        schema:
          type: integer
          format: int32
          default: 60
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of project summary items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ProjectsSummary'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a list of project summary
      tags:
      - Dashboard
    post:
      operationId: v1ProjectsFilterSummary
      parameters:
      - description: 'limit is a maximum number of responses to return for a list call. Default and maximum value of the limit is 50.

          If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results.'
        in: query
        name: limit
        schema:
          type: integer
          format: int64
          default: 50
      - description: offset is the next index number from which the response will start. The response offset value can be used along with continue token for the pagination.
        in: query
        name: offset
        schema:
          type: integer
          format: int64
      - description: continue token to paginate the subsequent data items
        in: query
        name: continue
        schema:
          type: string
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of project filter summary items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ProjectsSummary'
      security:
      - ApiKey: []
      - Authorization: []
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ProjectsFilterSpec'
      summary: V1 projects filter summary
      x-summary-source: derived
  /v1/dashboard/projects/metadata:
    get:
      operationId: v1ProjectsMetadata
      parameters:
      - description: Name of the project
        in: query
        name: name
        schema:
          type: string
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of project metadata items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ProjectsMetadata'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a list of projects metadata
      tags:
      - Dashboard
  /v1/dashboard/spcPolicies:
    post:
      operationId: v1SpcPoliciesFilterSummary
      parameters:
      - description: 'limit is a maximum number of responses to return for a list call. Maximum value of the limit is 50.

          If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results.'
        in: query
        name: limit
        schema:
          type: integer
          format: int64
          maximum: 50
      - description: offset is the next index number from which the response will start. The response offset value can be used along with continue token for the pagination.
        in: query
        name: offset
        schema:
          type: integer
          format: int64
      - description: continue token to paginate the subsequent data items
        in: query
        name: continue
        schema:
          type: string
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of spc policies summary items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SpcPoliciesSummary'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a list of spc policies filter summary Supported filter fields…
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SpcPoliciesFilterSpec'
  /v1/dashboard/spcPolicies/metadata:
    get:
      operationId: v1SpcPoliciesMetadataGet
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of spc policies metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SpcPoliciesMetadata'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a list of all spc policies metadata
      tags:
      - Dashboard
  /v1/dashboard/spectroclusters:
    post:
      description: 'Deprecated: Use POST /v1/dashboard/spectroclusters/search'
      operationId: v1SpectroClustersFilterSummary
      parameters:
      - description: 'limit is a maximum number of responses to return for a list call. Maximum value of the limit is 50.

          If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results.'
        in: query
        name: limit
        schema:
          type: integer
          format: int64
          maximum: 50
      - description: offset is the next index number from which the response will start. The response offset value can be used along with continue token for the pagination.
        in: query
        name: offset
        schema:
          type: integer
          format: int64
      - description: continue token to paginate the subsequent data items
        in: query
        name: continue
        schema:
          type: string
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of cluster summary items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SpectroClustersSummary'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a list of cluster summary with provided filter spec Supported filter…
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SpectroClusterSummarySpec'
  /v1/dashboard/spectroclusters/cost:
    post:
      operationId: v1DashboardSpectroClustersCostSummary
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of resources cloud cost summary items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ResourcesCloudCostSummary'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves spectro clusters cloud cost summary information
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SpectroClusterCloudCostSummarySpec'
  /v1/dashboard/spectroclusters/filters/workspace:
    get:
      operationId: v1SpectroClustersFiltersWorkspace
      parameters:
      - description: 'limit is a maximum number of responses to return for a list call. Default and maximum value of the limit is 50.

          If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results.'
        in: query
        name: limit
        schema:
          type: integer
          format: int64
          default: 50
      - description: offset is the next index number from which the response will start. The response offset value can be used along with continue token for the pagination.
        in: query
        name: offset
        schema:
          type: integer
          format: int64
      - description: continue token to paginate the subsequent data items
        in: query
        name: continue
        schema:
          type: string
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of cluster summary items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SpectroClustersSummary'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a list of running, non rbac configured clusters in a workspace
      tags:
      - Dashboard
  /v1/dashboard/spectroclusters/meta:
    get:
      description: Returns metadata information for all clusters
      operationId: v1SpectroClustersMetaGet
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of cluster metadata items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SpectroClustersMeta'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Get all clusters metadata
      tags:
      - Dashboard
  /v1/dashboard/spectroclusters/metadata:
    get:
      operationId: v1SpectroClustersMetadataGet
      parameters:
      - in: query
        name: quickFilter
        schema:
          type: string
          enum:
          - hostclusters
          - strictHostclusters
          - hypershiftClusters
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of cluster summary items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SpectroClustersMetadata'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a list of cluster summary metadata
      tags:
      - Dashboard
    post:
      operationId: v1SpectroClustersMetadata
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of cluster summary items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SpectroClustersMetadata'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a list of cluster summary
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SpectroClusterMetadataSpec'
  /v1/dashboard/spectroclusters/metadata/search:
    post:
      operationId: v1SpectroClustersMetadataSearch
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of cluster summary meta items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SpectroClustersMetadataSearch'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a list of cluster metadata with provided search filter spec Supported…
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SearchFilterSummarySpec'
  /v1/dashboard/spectroclusters/metadata/search/schema:
    get:
      operationId: v1SpectroClustersMetadataSearchSchema
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of cluster meta schema items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SearchFilterSchemaSpec'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a schema for the cluster metadata search filter
      tags:
      - Dashboard
  /v1/dashboard/spectroclusters/repaveStatus:
    get:
      operationId: v1DashboardSpectroClustersRepaveList
      parameters:
      - description: 'limit is a maximum number of responses to return for a list call. Maximum value of the limit is 50.

          If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results.'
        in: query
        name: limit
        schema:
          type: integer
          format: int64
          maximum: 50
      - description: offset is the next index number from which the response will start. The response offset value can be used along with continue token for the pagination.
        in: query
        name: offset
        schema:
          type: integer
          format: int64
      - description: continue token to paginate the subsequent data items
        in: query
        name: continue
        schema:
          type: string
      - in: query
        name: repaveState
        schema:
          type: string
          enum:
          - Pending
          - Approved
          - Reverted
          default: Pending
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of cluster summary items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SpectroClustersSummary'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a list of clusters with the desired repave state
      tags:
      - Dashboard
  /v1/dashboard/spectroclusters/resources/consumption:
    post:
      operationId: v1SpectroClustersResourcesConsumption
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of resource consumption data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ResourcesConsumption'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves spectro clusters resource consumption
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ResourceConsumptionSpec'
  /v1/dashboard/spectroclusters/resources/cost:
    post:
      operationId: v1SpectroClustersResourcesCostSummary
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of resources cost summary items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ResourcesCostSummary'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves spectro clusters resources cost summary information
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ResourceCostSummarySpec'
  /v1/dashboard/spectroclusters/resources/usage:
    post:
      operationId: v1SpectroClustersResourcesUsageSummary
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of resources usage summary items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ResourcesUsageSummary'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves spectro clusters resources usage summary information
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ResourceUsageSummarySpec'
  /v1/dashboard/spectroclusters/search:
    post:
      operationId: v1SpectroClustersSearchFilterSummary
      parameters:
      - description: 'limit is a maximum number of responses to return for a list call. Maximum value of the limit is 50.

          If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results.'
        in: query
        name: limit
        schema:
          type: integer
          format: int64
          maximum: 50
      - description: offset is the next index number from which the response will start. The response offset value can be used along with continue token for the pagination.
        in: query
        name: offset
        schema:
          type: integer
          format: int64
      - description: continue token to paginate the subsequent data items
        in: query
        name: continue
        schema:
          type: string
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of cluster summary items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SpectroClustersSummary'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a list of cluster summary with provided search filter spec Supported…
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SearchFilterSummarySpec'
  /v1/dashboard/spectroclusters/search/export:
    get:
      operationId: v1DashboardClustersSearchSummaryExportGet
      parameters:
      - in: query
        name: encodedFilter
        schema:
          type: string
      - in: query
        name: format
        schema:
          type: string
          enum:
          - csv
          default: csv
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            Content-Disposition:
              schema:
                type: string
            Content-Type:
              schema:
                type: string
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      security:
      - ApiKey: []
      - Authorization: []
      summary: Export and download the list of cluster summary with matching search filter and…
      tags:
      - Dashboard
    post:
      operationId: v1DashboardClustersSearchSummaryExport
      parameters:
      - in: query
        name: format
        schema:
          type: string
          enum:
          - csv
          default: csv
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: download file
          headers:
            Content-Disposition:
              schema:
                type: string
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
      security:
      - ApiKey: []
      - Authorization: []
      summary: Export the list of cluster summary with matching search filter and download as…
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SearchFilterSummarySpec'
  /v1/dashboard/spectroclusters/search/input:
    get:
      operationId: v1DashboardSpectroClustersSearchInput
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of cluster search filter input items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ClusterSearchInputSpec'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a supported input values for the cluster search filter
      tags:
      - Dashboard
  /v1/dashboard/spectroclusters/search/schema:
    get:
      operationId: v1SpectroClustersSearchSchema
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of cluster filter schema items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SearchFilterSchemaSpec'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a schema for the cluster search filter
      tags:
      - Dashboard
  /v1/dashboard/spectroclusters/vms:
    get:
      operationId: V1DashboardVMEnabledClustersList
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of schema items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1VMClusters'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a list of Virtual machine enabled clusters
      tags:
      - Dashboard
  /v1/dashboard/spectroclusters/{uid}:
    parameters:
    - in: path
      name: uid
      required: true
      schema:
        type: string
    get:
      operationId: v1SpectroClustersSummaryUid
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An spectro cluster summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SpectroClusterUidSummary'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Returns the specified cluster summary
      tags:
      - Dashboard
  /v1/dashboard/spectroclusters/{uid}/cost:
    parameters:
    - in: path
      name: uid
      required: true
      schema:
        type: string
    get:
      operationId: v1SpectroClustersUidCostSummary
      parameters:
      - description: Time is a wrapper around time.Time which supports correct marshaling to YAML and JSON.  Wrappers are provided for many of the factory methods that the time package offers.
        in: query
        name: startTime
        schema:
          type: string
          format: date-time
      - description: Time is a wrapper around time.Time which supports correct marshaling to YAML and JSON.  Wrappers are provided for many of the factory methods that the time package offers.
        in: query
        name: endTime
        schema:
          type: string
          format: date-time
      - description: period in minutes, group the data point by the specified period
        in: query
        name: period
        schema:
          type: integer
          format: int32
          minimum: 60
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An spectro cluster cost summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SpectroClusterCostSummary'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves the specified cluster cost summary
      tags:
      - Dashboard
  /v1/dashboard/spectroclusters/{uid}/overview:
    parameters:
    - in: path
      name: uid
      required: true
      schema:
        type: string
    get:
      operationId: v1SpectroClustersSummaryUidOverview
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An spectro cluster summary overview
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SpectroClusterUidSummary'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Returns the specified cluster summary overview
      tags:
      - Dashboard
  /v1/dashboard/spectroclusters/{uid}/resources/consumption:
    parameters:
    - in: path
      name: uid
      required: true
      schema:
        type: string
    post:
      operationId: v1SpectroClustersUidResourcesConsumption
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of resource consumption data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ResourcesConsumption'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves specified spectro cluster resource consumption
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ResourceConsumptionSpec'
  /v1/dashboard/spectroclusters/{uid}/workloads:
    parameters:
    - in: path
      name: uid
      required: true
      schema:
        type: string
    post:
      operationId: v1DashboardSpectroClustersUidWorkloads
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of cluster workloads
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ClusterWorkload'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves specified cluster workloads
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ClusterWorkloadsSpec'
  /v1/dashboard/spectroclusters/{uid}/workloads/clusterrolebinding:
    parameters:
    - in: path
      name: uid
      required: true
      schema:
        type: string
    post:
      operationId: v1DashboardSpectroClustersUidWorkloadsClusterRoleBinding
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of cluster workload clusterrolebindings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ClusterWorkloadRoleBindings'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves specified cluster workload clusterrolebindings
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ClusterWorkloadsSpec'
  /v1/dashboard/spectroclusters/{uid}/workloads/cronjob:
    parameters:
    - in: path
      name: uid
      required: true
      schema:
        type: string
    post:
      operationId: v1DashboardSpectroClustersUidWorkloadsCronJob
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of cluster workload cronjobs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ClusterWorkloadCronJobs'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves specified cluster workload cronjobs
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ClusterWorkloadsSpec'
  /v1/dashboard/spectroclusters/{uid}/workloads/daemonset:
    parameters:
    - in: path
      name: uid
      required: true
      schema:
        type: string
    post:
      operationId: v1DashboardSpectroClustersUidWorkloadsDaemonSet
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of cluster workload daemonsets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ClusterWorkloadDaemonSets'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves specified cluster workload daemonsets
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ClusterWorkloadsSpec'
  /v1/dashboard/spectroclusters/{uid}/workloads/deployment:
    parameters:
    - in: path
      name: uid
      required: true
      schema:
        type: string
    post:
      operationId: v1DashboardSpectroClustersUidWorkloadsDeployment
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of cluster workload deployments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ClusterWorkloadDeployments'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves specified cluster workload deployments
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ClusterWorkloadsSpec'
  /v1/dashboard/spectroclusters/{uid}/workloads/job:
    parameters:
    - in: path
      name: uid
      required: true
      schema:
        type: string
    post:
      operationId: v1DashboardSpectroClustersUidWorkloadsJob
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of cluster workload jobs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ClusterWorkloadJobs'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves specified cluster workload jobs
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ClusterWorkloadsSpec'
  /v1/dashboard/spectroclusters/{uid}/workloads/namespace:
    parameters:
    - in: path
      name: uid
      required: true
      schema:
        type: string
    post:
      operationId: v1DashboardSpectroClustersUidWorkloadsNamespace
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of cluster workload namespaces
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ClusterWorkloadNamespaces'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves specified cluster workload namespaces
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ClusterWorkloadsSpec'
  /v1/dashboard/spectroclusters/{uid}/workloads/pod:
    parameters:
    - in: path
      name: uid
      required: true
      schema:
        type: string
    post:
      operationId: v1DashboardSpectroClustersUidWorkloadsPod
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of cluster workload pods
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ClusterWorkloadPods'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves specified cluster workload pods
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ClusterWorkloadsSpec'
  /v1/dashboard/spectroclusters/{uid}/workloads/rolebinding:
    parameters:
    - in: path
      name: uid
      required: true
      schema:
        type: string
    post:
      operationId: v1DashboardSpectroClustersUidWorkloadsRoleBinding
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of cluster workload rolebindings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ClusterWorkloadRoleBindings'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves specified cluster workload rolebindings
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ClusterWorkloadsSpec'
  /v1/dashboard/spectroclusters/{uid}/workloads/statefulset:
    parameters:
    - in: path
      name: uid
      required: true
      schema:
        type: string
    post:
      operationId: v1DashboardSpectroClustersUidWorkloadsStatefulSet
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of cluster workload statefulsets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ClusterWorkloadStatefulSets'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves specified cluster workload statefulsets
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ClusterWorkloadsSpec'
  /v1/dashboard/workspaces:
    get:
      operationId: v1DashboardWorkspacesList
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of workspace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DashboardWorkspaces'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves a list of workspace
      tags:
      - Dashboard
  /v1/dashboard/workspaces/{uid}/spectroclusters/workloads/clusterrolebinding:
    parameters:
    - in: path
      name: uid
      required: true
      schema:
        type: string
    post:
      operationId: v1DashboardWorkspacesUidSpectroClustersWorkloadsClusterRoleBinding
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of clusters workload clusterrolebindings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1WorkspaceClustersWorkloadRoleBindings'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves specified workspace clusters workload clusterrolebindings
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1WorkspaceWorkloadsSpec'
  /v1/dashboard/workspaces/{uid}/spectroclusters/workloads/cronjob:
    parameters:
    - in: path
      name: uid
      required: true
      schema:
        type: string
    post:
      operationId: v1DashboardWorkspacesUidSpectroClustersWorkloadsCronJob
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of clusters workload cronjobs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1WorkspaceClustersWorkloadCronJobs'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves specified workspace clusters workload cronjobs
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1WorkspaceWorkloadsSpec'
  /v1/dashboard/workspaces/{uid}/spectroclusters/workloads/daemonset:
    parameters:
    - in: path
      name: uid
      required: true
      schema:
        type: string
    post:
      operationId: v1DashboardWorkspacesUidSpectroClustersWorkloadsDaemonSet
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of clusters workload daemonsets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1WorkspaceClustersWorkloadDaemonSets'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves specified workspace clusters workload daemonsets
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1WorkspaceWorkloadsSpec'
  /v1/dashboard/workspaces/{uid}/spectroclusters/workloads/deployment:
    parameters:
    - in: path
      name: uid
      required: true
      schema:
        type: string
    post:
      operationId: v1DashboardWorkspacesUidSpectroClustersWorkloadsDeployment
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of clusters workload deployments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1WorkspaceClustersWorkloadDeployments'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves specified workspace clusters workload deployments
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1WorkspaceWorkloadsSpec'
  /v1/dashboard/workspaces/{uid}/spectroclusters/workloads/job:
    parameters:
    - in: path
      name: uid
      required: true
      schema:
        type: string
    post:
      operationId: v1DashboardWorkspacesUidSpectroClustersWorkloadsJob
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of clusters workload jobs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1WorkspaceClustersWorkloadJobs'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves specified workspace clusters workload jobs
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1WorkspaceWorkloadsSpec'
  /v1/dashboard/workspaces/{uid}/spectroclusters/workloads/namespace:
    parameters:
    - in: path
      name: uid
      required: true
      schema:
        type: string
    post:
      operationId: v1DashboardWorkspacesUidSpectroClustersWorkloadsNamespace
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of clusters workload namespaces
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1WorkspaceClustersWorkloadNamespaces'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves specified workspace clusters workload namespaces
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1WorkspaceWorkloadsSpec'
  /v1/dashboard/workspaces/{uid}/spectroclusters/workloads/pod:
    parameters:
    - in: path
      name: uid
      required: true
      schema:
        type: string
    post:
      operationId: v1DashboardWorkspacesUidSpectroClustersWorkloadsPod
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of clusters workload pods
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1WorkspaceClustersWorkloadPods'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves specified workspace clusters workload pods
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1WorkspaceWorkloadsSpec'
  /v1/dashboard/workspaces/{uid}/spectroclusters/workloads/rolebinding:
    parameters:
    - in: path
      name: uid
      required: true
      schema:
        type: string
    post:
      operationId: v1DashboardWorkspacesUidSpectroClustersWorkloadsRoleBinding
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of clusters workload rolebindings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1WorkspaceClustersWorkloadRoleBindings'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves specified workspace clusters workload rolebindings
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1WorkspaceWorkloadsSpec'
  /v1/dashboard/workspaces/{uid}/spectroclusters/workloads/statefulset:
    parameters:
    - in: path
      name: uid
      required: true
      schema:
        type: string
    post:
      operationId: v1DashboardWorkspacesUidSpectroClustersWorkloadsStatefulSet
      parameters:
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of clusters workload statefulsets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1WorkspaceClustersWorkloadStatefulSets'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves specified workspace clusters workload statefulsets
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1WorkspaceWorkloadsSpec'
components:
  schemas:
    v1SpcPolicySortFields:
      enum:
      - policyName
      - policyType
      - creationTimestamp
      - lastModifiedTimestamp
      type:
      - string
      - 'null'
    v1PackRef:
      description: PackRef server/name:tag to point to a pack PackRef is used when construct a ClusterProfile PackSpec is used for UI to render the parameters form ClusterProfile will not know inner details of a pack ClusterProfile only contain pack name:tag, and the param values user entered for it
      properties:
        annotations:
          additionalProperties:
            type: string
          description: Annotations is used to allow packref to add more arbitrary information one example is to add git reference for values.yaml
          type: object
        digest:
          description: digest is used to specify the version should be installed by palette when pack upgrade available, change this digest to trigger upgrade
          type: string
        inValidReason:
          type: string
        isInvalid:
          description: pack is invalid when the associated tag is deleted from the registry
          type: boolean
        layer:
          enum:
          - kernel
          - os
          - k8s
          - cni
          - csi
          - addon
          type: string
        logo:
          description: path to the pack logo
          type: string
        manifests:
          items:
            $ref: '#/components/schemas/v1ObjectReference'
          type: array
        name:
          description: pack name
          type: string
        packUid:
          description: PackUID is Hubble packUID, not palette Pack.UID It is used by Hubble only.
          type: string
        params:
          additionalProperties:
            type: string
          description: params passed as env variables to be consumed at installation time
          type: object
        presets:
          items:
            $ref: '#/components/schemas/v1PackPreset'
          type: array
        registryUid:
          description: pack registry uid
          type: string
        schema:
          items:
            $ref: '#/components/schemas/v1PackSchema'
          type: array
        server:
          description: pack registry server or helm repo
          type: string
        tag:
          description: pack tag
          type: string
        type:
          description: type of the pack
          enum:
          - spectro
          - helm
          - manifest
          - oci
          type: string
        values:
          description: values represents the values.yaml used as input parameters either Params OR Values should be used, not both If both applied at the same time, will only use Values
          type: string
        version:
          description: pack version
          type: string
      required:
      - layer
      - name
      type: object
    v1CloudCost:
      description: Cloud cost information
      properties:
        compute:
          format: float64
          type: number
          x-omitempty: false
        storage:
          format: float64
          type: number
          x-omitempty: false
        total:
          format: float64
          type: number
          x-omitempty: false
      type: object
    v1ClusterWorkloadPodContainerResources:
      description: Cluster workload pod container resources
      properties:
        limits:
          $ref: '#/components/schemas/v1ClusterWorkloadPodContainerResource'
        requests:
          $ref: '#/components/schemas/v1ClusterWorkloadPodContainerResource'
      type: object
    v1EdgeHostsMetadataStatus:
      properties:
        health:
          $ref: '#/components/schemas/v1EdgeHostHealth'
        inUseClusters:
          description: Deprecated. Use inUseClustersRef
          items:
            $ref: '#/components/schemas/v1ObjectEntity'
          type: array
        inUseClustersRef:
          items:
            $ref: '#/components/schemas/v1EdgeClusterObjectEntity'
          type: array
        state:
          $ref: '#/components/schemas/v1EdgeHostState'
      type: object
    v1PackRefSummary:
      description: Pack ref summary
      properties:
        addonType:
          type: string
        annotations:
          additionalProperties:
            type: string
          type: object
        displayName:
          type: string
        layer:
          $ref: '#/components/schemas/v1PackLayer'
        logoUrl:
          type: string
        name:
          type: string
        packUid:
          type: string
        tag:
          type: string
        type:
          type: string
        version:
          type: string
    v1ResourceCostDataPoint:
      description: Resource cost data point
      properties:
        cpu:
          format: float64
          type: number
          x-omitempty: false
        memory:
          format: float64
          type: number
          x-omitempty: false
        storage:
          format: float64
          type: number
          x-omitempty: false
        timestamp:
          format: int64
          type: number
        total:
          format: float64
          type: number
          x-omitempty: false
      type: object
    v1WorkspaceClustersWorkloadDaemonSets:
      description: Workspace clusters workload statefulsets summary
      properties:
        clusters:
          items:
            $ref: '#/components/schemas/v1WorkspaceClusterWorkloadDaemonSets'
          type: array
        metadata:
          $ref: '#/components/schemas/v1ObjectMetaInputEntity'
      type: object
    v1AppDeploymentConfigSummary:
      description: Application deployment config summary
      properties:
        target:
          $ref: '#/components/schemas/v1AppDeploymentTargetConfigSummary'
    v1DashboardWorkspaceMeta:
      description: Deprecated. Workspace meta data
      properties:
        clusterNames:
          description: Deprecated. Use clusterRefs
          items:
            type: string
          type: array
          uniqueItems: true
        clusterRefs:
          items:
            $ref: '#/components/schemas/v1DashboardWorkspaceClusterRef'
          type: array
          uniqueItems: true
        creationTime:
          $ref: '#/components/schemas/v1Time'
        name:
          type: string
        namespaces:
          items:
            type: string
          type: array
          uniqueItems: true
        uid:
          type: string
    v1ClusterWorkloadsFilter:
      description: Cluster workloads filter
      properties:
        namespaces:
          items:
            type: string
          type: array
          uniqueItems: true
      type: object
    v1ClusterWorkloadPodContainerState:
      description: Cluster workload pod container state
      properties:
        exitCode:
          format: int32
          type: integer
          x-omitempty: false
        finishedAt:
          $ref: '#/components/schemas/v1Time'
        reason:
          type: string
        startedAt:
          $ref: '#/components/schemas/v1Time'
        state:
          type: string
      type: object
    v1ClusterWorkloadJob:
      description: Cluster workload job summary
      properties:
        metadata:
          $ref: '#/components/schemas/v1ClusterWorkloadMetadata'
        status:
          $ref: '#/components/schemas/v1ClusterWorkloadJobStatus'
      type: object
    v1APIEndpoint:
      description: APIEndpoint represents a reachable Kubernetes API endpoint.
      properties:
        host:
          description: The hostname on which the API server is serving.
          type: string
        port:
          description: The port on which the API server is serving.
          format: int32
          type: integer
      required:
      - host
      - port
      type: object
    v1EdgeHostsMetadataFilterSpec:
      description: Edge hosts metadata filter spec
      properties:
        name:
          $ref: '#/components/schemas/v1FilterString'
        states:
          items:
            $ref: '#/components/schemas/v1EdgeHostState'
          type: array
          uniqueItems: true
    v1ClusterUsageSummary:
      description: Cluster usage summary
      properties:
        cpuCores:
          type: number
          x-omitempty: false
        isAlloy:
          type: boolean
          x-omitempty: false
        name:
          type: string
        uid:
          type: string
      type: object
    v1SearchFilterIntegerCondition:
      properties:
        match:
          $ref: '#/components/schemas/v1SearchFilterIntegerConditionMatch'
        negation:
          type: boolean
        operator:
          $ref: '#/components/schemas/v1SearchFilterIntegerOperator'
    v1WorkspaceClustersWorkloadRoleBindings:
      description: Workspace clusters workload rbac bindings summary
      properties:
        clusters:
          items:
            $ref: '#/components/schemas/v1WorkspaceClusterWorkloadRoleBindings'
          type: array
        metadata:
          $ref: '#/components/schemas/v1ObjectMetaInputEntity'
      type: object
    v1SpcApply:
      properties:
        actionType:
          enum:
          - DownloadAndInstall
          - DownloadAndInstallLater
          type: string
        canBeApplied:
          description: If it is true then Agent can apply the changes to the palette
          type: boolean
          x-omitempty: false
        crdDigest:
          type: string
        lastModifiedTime:
          $ref: '#/components/schemas/v1Time'
        patchAppliedTime:
          $ref: '#/components/schemas/v1Time'
        spcHash:
          type: string
        spcInfraHash:
          type: string
      type: object
    v1SpectroClusterHealthStatus:
      description: Spectro cluster health status
      properties:
        agentVersion:
          type: string
        conditions:
          items:
            $ref: '#/components/schemas/v1SpectroClusterHealthCondition'
          type: array
          uniqueItems: true
        lastHeartBeatTimestamp:
          $ref: '#/components/schemas/v1Time'
        state:
          type: string
    v1ClusterProfilesMetadata:
      properties:
        items:
          items:
            $ref: '#/components/schemas/v1ClusterProfileMetadata'
          type: array
          uniqueItems: true
      required:
      - items
      type: object
    v1WorkspaceClusterWorkloadJobs:
      description: Workspace cluster workload jobs summary
      properties:
        jobs:
          items:
            $ref: '#/components/schemas/v1ClusterWorkloadJob'
          type: array
        metadata:
          $ref: '#/components/schemas/v1RelatedObject'
      type: object
    v1EdgeHostSpecHost:
      description: Host specifications
      properties:
        hostAddress:
          description: HostAddress is a FQDN or IP address of the Host
          type: string
        macAddress:
          type: string
    v1DeviceSpec:
      description: DeviceSpec defines the desired state of Device
      properties:
        archType:
          default: amd64
          description: Architecture type of the edge host
          enum:
          - arm64
          - amd64
          type: string
        cpu:
          $ref: '#/components/schemas/v1CPU'
        disks:
          items:
            $ref: '#/components/schemas/v1Disk'
          type: array
        gpus:
          items:
            $ref: '#/components/schemas/v1GPUDeviceSpec'
          type: array
        hostState:
          default: registration
          description: State of edge host device
          enum:
          - registration
          - cluster
          - recovery
          type: string
        hostType:
          default: appliance
          description: Type of the edge host device
          enum:
          - appliance
          - agent-mode
          type: string
        memory:
          $ref: '#/components/schemas/v1Memory'
        nics:
          items:
            $ref: '#/components/schemas/v1Nic'
          type: array
        os:
          $ref: '#/components/schemas/v1OS'
        secureBoot:
          default: false
          description: Secure boot configuration
          type: boolean
      type: object
    v1WorkspaceClustersWorkloadDeployments:
      description: Workspace clusters workload deployments summary
      properties:
        clusters:
          items:
            $ref: '#/components/schemas/v1WorkspaceClusterWorkloadDeployments'
          type: array
        metadata:
          $ref: '#/components/schemas/v1ObjectMetaInputEntity'
      type: object
    v1ProjectSummary:
      description: Project summary
      properties:
        metadata:
          $ref: '#/components/schemas/v1ObjectMeta'
        specSummary:
          $ref: '#/components/schemas/v1ProjectSpecSummary'
          description: Project spec summary
        status:
          $ref: '#/components/schemas/v1ProjectStatusSummary'
          description: Project status summary
      type: object
    v1IpPoolEntity:
      description: IP Pool entity definition
      properties:
        metadata:
          $ref: '#/components/schemas/v1ObjectMeta'
        spec:
          properties:
            pool:
              $ref: '#/components/schemas/v1Pool'
            priavetGatewayUid:
              type: string
            restrictToSingleCluster:
              description: if true, restricts this IP pool to be used by single cluster at any time
              type: boolean
              x-omitempty: false
          type: object
        status:
          $ref: '#/components/schemas/v1IpPoolStatus'
      type: object
    v1ClusterPackManifestStatus:
      properties:
        condition:
          $ref: '#/components/schemas/v1ClusterCondition'
        name:
          type: string
        uid:
          type: string
      type: object
    v1ResourceConsumptionFilter:
      description: Resource consumption filter
      properties:
        clouds:
          items:
            type: string
          type: array
          uniqueItems: true
        clusters:
          items:
            type: string
          type: array
          uniqueItems: true
        endTime:
          $ref: '#/components/schemas/v1Time'
        includeControlPlaneMachines:
          type: boolean
        includeMasterMachines:
          description: Deprecated. Use includeControlPlaneMachines
          type: boolean
        namespaces:
          items:
            type: string
          type: array
          uniqueItems: true
        projects:
          items:
            type: string
          type: array
          uniqueItems: true
        startTime:
          $ref: '#/components/schemas/v1Time'
        workspaces:
          items:
            type: string
          type: array
          uniqueItems: true
      type: object
    v1SearchFilterSortSpec:
      properties:
        field:
          $ref: '#/components/schemas/v1SearchSortFields'
        order:
          $ref: '#/components/schemas/v1SortOrder'
    v1DashboardWorkspaceResourceAllocation:
      description: Workspace resource allocation
      properties:
        allocated:
          format: float64
          type: number
          x-omitempty: false
        usage:
          format: float64
          type: number
          x-omitempty: false
    v1SpectroClusterSortSpec:
      properties:
        field:
          $ref: '#/components/schemas/v1SpectroClusterSortFields'
        order:
          $ref: '#/components/schemas/v1SortOrder'
    v1ClusterWorkloadDeploymentStatus:
      description: Cluster workload deployment status
      properties:
        replicas:
          $ref: '#/components/schemas/v1ClusterWorkloadReplicaStatus'
      type: object
    v1ClusterTemplatesMetadata:
      properties:
        items:
          items:
            $ref: '#/components/schemas/v1ClusterTemplateMetadata'
          type: array
          uniqueItems: true
      required:
      - items
      type: object
    v1AppDeploymentTargetConfigSummary:
      description: Application deployment target config summary
      properties:
        clusterRef:
          $ref: '#/components/schemas/v1AppDeploymentClusterRefSummary'
    v1ClusterTemplateSummarySpec:
      properties:
        cloudType:
          $ref: '#/components/schemas/v1CloudType'
        clusters:
          items:
            $ref: '#/components/schemas/v1ClusterTemplateSpectroClusterMeta'
          type: array
          uniqueItems: true
      type: object
    v1SpectroClustersMetadataSearch:
      properties:
        items:
          items:
            $ref: '#/components/schemas/v1SpectroClusterMetaSummary'
          type: array
          uniqueItems: true
        listmeta:
          $ref: '#/components/schemas/v1ListMetaData'
      required:
      - items
      type: object
    v1ClusterProfileMetadata:
      description: Cluster profile filter spec
      properties:
        metadata:
          $ref: '#/components/schemas/v1ObjectEntity'
        spec:
          properties:
            cloudType:
              type: string
            version:
              type: string
    v1Pool:
      description: Pool defines IP ranges or with CIDR for available IPs Gateway, Prefix and Nameserver if provided, will overwrite values in IPPool
      properties:
        end:
          description: End is the last IP address that can be rendered. It is used as a validation that the rendered IP is in bound.
          type: string
        gateway:
          description: Gateway is the gateway ip address
          type: string
        nameserver:
          $ref: '#/components/schemas/v1Nameserver'
          description: Nameserver provide information for dns resolvation
        prefix:
          description: Prefix is the mask of the network as integer (max 128)
          format: int32
          type: integer
        start:
          description: Start is the first ip address that can be rendered
          type: string
        subnet:
          description: 'Subnet is used to validate that the rendered IP is in bounds. eg: 192.168.0.0/24 If Start value is not given, start value is derived from the subnet ip incremented by 1 (start value is `192.168.0.1` for subnet `192.168.0.0/24`)'
          type: string
      type: object
    v1ResourceUsageSummaryFilter:
      description: Resource usage summary filter
      properties:
        clouds:
          items:
            type: string
          type: array
          uniqueItems: true
        clusters:
          items:
            type: string
          type: array
          uniqueItems: true
        endTime:
          $ref: '#/components/schemas/v1Time'
        includeControlPlaneMachines:
          type: boolean
        includeMasterMachines:
          description: Deprecated. Use includeControlPlaneMachines
          type: boolean
        namespaces:
          items:
            type: string
          type: array
          uniqueItems: true
        pods:
          items:
            type: string
          type: array
          uniqueItems: true
        projects:
          items:
            type: string
          type: array
          uniqueItems: true
        startTime:
          $ref: '#/components/schemas/v1Time'
        workload:
          $ref: '#/components/schemas/v1ResourceWorkloadFilter'
        workspaces:
          items:
            type: string
          type: array
          uniqueItems: true
      type: object
    v1AppDeploymentSortFields:
      enum:
      - appDeploymentName
      - creationTimestamp
      - lastModifiedTimestamp
      type:
      - string
      - 'null'
    v1ClusterTemplatesFilterSpec:
      description: Cluster template filter spec
      properties:
        cloudType:
          items:
            $ref: '#/components/schemas/v1CloudType'
          type: array
          uniqueItems: true
        clusterTemplateName:
          $ref: '#/components/schemas/v1FilterString'
        policyUid:
          $ref: '#/components/schemas/v1FilterString'
        projectUid:
          $ref: '#/components/schemas/v1FilterString'
        tags:
          $ref: '#/components/schemas/v1FilterArray'
    v1ResourceReference:
      properties:
        kind:
          type: string
        name:
          type: string
        uid:
          type: string
      required:
      - uid
      type: object
    v1EdgeHostsMetadataSpec:
      properties:
        clusterProfileTemplates:
          items:
            $ref: '#/components/schemas/v1ProfileTemplateSummary'
          type: array
        device:
          $ref: '#/components/schemas/v1DeviceSpec'
        host:
          $ref: '#/components/schemas/v1EdgeHostSpecHost'
        projectMeta:
          $ref: '#/components/schemas/v1ProjectMeta'
        type:
          type: string
      type: object
    v1DashboardWorkspaceClusterRef:
      description: Workspace cluster reference
      properties:
        name:
          type: string
        uid:
          type: string
    v1ResourceUsageDataPoint:
      description: Resource usage data point
      properties:
        baremetal:
          $ref: '#/components/schemas/v1ResourceUsageMeteringDataPoint'
        cpu:
          format: float64
          type: number
          x-omitempty: false
        edgehost:
          $ref: '#/components/schemas/v1ResourceUsageMeteringDataPoint'
        memory:
          format: float64
          type: number
          x-omitempty: false
        timestamp:
          format: int64
          type: number
      type: object
    v1PackSchema:
      description: PackSchema defines the schema definition, hints for the pack values
      properties:
        format:
          type: string
          x-omitempty: false
        hints:
          items:
            type: string
          type: array
          x-omitempty: false
        listOptions:
          items:
            type: string
          type: array
          x-omitempty: false
        name:
          type: string
          x-omitempty: false
        readonly:
          type: boolean
          x-omitempty: false
        regex:
          type: string
          x-omitempty: false
        required:
          type: boolean
          x-omitempty: false
        type:
          type: string
          x-omitempty: false
      type: object
    v1ClusterNotificationStatus:
      description: Cluster notifications status
      properties:
        isAvailable:
          type: boolean
          x-omitempty: false
        isTemplateVariableResolutionPending:
          type: boolean
          x-omitempty: false
    v1DashboardWorkspaces:
      properties:
        cpuUnit:
          type: string
        items:
          items:
            $ref: '#/components/schemas/v1DashboardWorkspace'
          type: array
          uniqueItems: true
        memoryUnit:
          type: string
      required:
      - items
      type: object
    v1KubeMeta:
      description: Spectro cluster kube meta
      properties:
        hasKubeConfig:
          type: boolean
          x-omitempty: false
        hasKubeConfigClient:
          type: boolean
          x-omitempty: false
        hasManifest:
          type: boolean
          x-omitempty: false
        kubernetesVersion:
          type: string
      type: object
    v1AppProfilesFilterSpec:
      description: Application profile filter summary spec
      properties:
        filter:
          $ref: '#/components/schemas/v1AppProfileFilterSpec'
        sort:
          items:
            $ref: '#/components/schemas/v1AppProfileSortSpec'
          type: array
          uniqueItems: true
    v1ClusterRoleRef:
      description: Cluster role ref
      properties:
        kind:
          enum:
          - Role
          - ClusterRole
          type: string
        name:
          type: string
      type: object
    v1SpectroClusterSortFields:
      enum:
      - environment
      - clusterName
      - healthState
      - creationTimestamp
      - lastModifiedTimestamp
      type:
      - string
      - 'null'
    v1PcgsSummary:
      properties:
        items:
          items:
            $ref: '#/components/schemas/v1Overlord'
          type: array
          uniqueItems: true
        listmeta:
          $ref: '#/components/schemas/v1ListMetaData'
      required:
      - items
      type: object
    v1ClusterWorkloadCronJobs:
      description: Cluster workload cronjobs summary
      properties:
        cronJobs:
          items:
            $ref: '#/components/schemas/v1ClusterWorkloadCronJob'
          type: array
      type: object
    v1SpcPolicyStatusSummary:
      description: Provides status information for SpcPolicy like in use templates using the policy
      properties:
        inUseClusterTemplates:
          items:
            $ref: '#/components/schemas/v1ObjectStateEntity'
          type: array
      type: object
    v1ClusterTemplateSummary:
      description: Cluster template summary
      properties:
        metadata:
          $ref: '#/components/schemas/v1ObjectMeta'
        spec:
          $ref: '#/components/schemas/v1ClusterTemplateSummarySpec'
        status:
          $ref: '#/components/schemas/v1ClusterTemplateSummaryStatus'
      type: object
    v1AppTierSourceSummary:
      description: Application profile's tier source information
      properties:
        addonSubType:
          type: string
        addonType:
          type: string
        logoUrl:
          type: string
        name:
          type: string
        type:
          type: string
        uid:
          type: string
    v1ClusterPackStatus:
      properties:
        condition:
          $ref: '#/components/schemas/v1ClusterCondition'
        endTime:
          $ref: '#/components/schemas/v1Time'
        manifests:
          items:
            $ref: '#/components/schemas/v1ClusterPackManifestStatus'
          type: array
        name:
          type: string
        profileUid:
          type: string
        services:
          items:
            $ref: '#/components/schemas/v1LoadBalancerService'
          type: array
        startTime:
          $ref: '#/components/schemas/v1Time'
        type:
          type: string
        version:
          type: string
      type: object
    v1ClusterWorkloadPodContainerStatus:
      description: Cluster workload pod container status
      properties:
        image:
          type: string
        name:
          type: string
        ready:
          type: boolean
          x-omitempty: false
        restartCount:
          format: int32
          type: integer
          x-omitempty: false
        started:
          type: boolean
          x-omitempty: false
        state:
          $ref: '#/components/schemas/v1ClusterWorkloadPodContainerState'
      type: object
    v1AppDeploymentProfileMetadataSummary:
      description: Application deployment profile metadata summary
      properties:
        name:
          type: string
        uid:
          type: string
        version:
          type: string
    v1SpectroClustersMeta:
      items:
        $ref: '#/components/schemas/v1SpectroClusterMeta'
      type: array
    v1SpectroClusterAddOnServiceSummary:
      description: Spectro cluster status summary
      properties:
        endpoint:
          type: string
        name:
          type: string
    v1VMCluster:
      description: VM Dashboard enabled Spectro cluster
      properties:
        metadata:
          properties:
            name:
              type: string
            projectUid:
              type: string
            uid:
              type: string
        spec:
          description: Spectro cluster spec
          properties:
[...]
