openapi: 3.2.0
info:
  title: Palette APIs - 4.9 Metrics API
  version: v1
servers:
- url: https://api.spectrocloud.com
tags:
- name: Metrics
  x-displayName: Metrics
paths:
  /v1/metrics/{resourceKind}/values:
    get:
      description: Returns all the metrics for a given resource kind
      operationId: v1MetricsList
      parameters:
      - in: path
        name: resourceKind
        required: true
        schema:
          type: string
          enum:
          - pod
          - namespace
          - spectrocluster
          - machine
          - project
      - in: query
        name: metricKind
        schema:
          type: string
          default: all
      - description: Time is a wrapper around time.Time which supports correct marshaling to YAML and JSON.  Wrappers are provided for many of the factory methods that the time package offers.
        in: query
        name: startTime
        schema:
          type: string
          format: date-time
      - description: Time is a wrapper around time.Time which supports correct marshaling to YAML and JSON.  Wrappers are provided for many of the factory methods that the time package offers.
        in: query
        name: endTime
        schema:
          type: string
          format: date-time
      - in: query
        name: period
        schema:
          type: integer
          format: int32
          default: 1
      - description: Deprecated. includeMasterMachines in boolean, group the data point by including control plane nodes if set to true
        in: query
        name: includeMasterMachines
        schema:
          type: boolean
          default: false
      - description: includeControlPlaneMachines in boolean, group the data point by including control plane nodes if set to true
        in: query
        name: includeControlPlaneMachines
        schema:
          type: boolean
          default: false
      - description: if true then api returns only aggregation values, else api returns all data points by default
        in: query
        name: discrete
        schema:
          type: boolean
          default: false
      - in: query
        name: spectroClusterUid
        schema:
          type: string
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of metric items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1MetricTimeSeriesList'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Retrieves the list of metrics for a specified resource kind
      tags:
      - Metrics
  /v1/metrics/{resourceKind}/{resourceUid}/values:
    delete:
      operationId: v1MetricsUidDelete
      parameters:
      - in: path
        name: resourceKind
        required: true
        schema:
          type: string
          enum:
          - pod
          - namespace
          - spectrocluster
          - machine
          - project
      - in: path
        name: resourceUid
        required: true
        schema:
          type: string
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '204':
          description: The resource was deleted successfully
      security:
      - ApiKey: []
      - Authorization: []
      summary: Deletes the metrics of the specified resource
      tags:
      - Metrics
    get:
      operationId: v1MetricsUidList
      parameters:
      - in: path
        name: resourceKind
        required: true
        schema:
          type: string
          enum:
          - pod
          - namespace
          - spectrocluster
          - machine
          - project
      - in: path
        name: resourceUid
        required: true
        schema:
          type: string
      - description: multiple metric kinds can be provided with comma separated
        in: query
        name: metricKind
        schema:
          type: string
          default: all
      - description: Time is a wrapper around time.Time which supports correct marshaling to YAML and JSON.  Wrappers are provided for many of the factory methods that the time package offers.
        in: query
        name: startTime
        schema:
          type: string
          format: date-time
      - description: Time is a wrapper around time.Time which supports correct marshaling to YAML and JSON.  Wrappers are provided for many of the factory methods that the time package offers.
        in: query
        name: endTime
        schema:
          type: string
          format: date-time
      - description: period in minutes, group the data point by the specified period
        in: query
        name: period
        schema:
          type: integer
          format: int32
          default: 1
      - description: Deprecated. includeMasterMachines in boolean, group the data point by including control plane nodes if set to true
        in: query
        name: includeMasterMachines
        schema:
          type: boolean
          default: false
      - description: includeControlPlaneMachines in boolean, group the data point by including control plane nodes if set to true
        in: query
        name: includeControlPlaneMachines
        schema:
          type: boolean
          default: false
      - description: if true then api returns only aggregation values, else api returns all data points by default
        in: query
        name: discrete
        schema:
          type: boolean
          default: false
      - description: A project UID is required for project-scoped resources and should be omitted when targeting tenant-scoped resources
        in: header
        name: ProjectUid
        schema:
          type: string
      responses:
        '200':
          description: An array of metric items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1MetricTimeSeries'
      security:
      - ApiKey: []
      - Authorization: []
      summary: Returns the metrics for a specified resource uid
      tags:
      - Metrics
components:
  schemas:
    v1MetricTimeSeries:
      properties:
        items:
          items:
            $ref: '#/components/schemas/v1Metrics'
          type: array
          uniqueItems: true
      required:
      - items
      type: object
    v1MetricMetadata:
      properties:
        name:
          type: string
        uid:
          type: string
      type: object
    v1MetricPoint:
      description: Metric Info
      properties:
        avg:
          type: number
        count:
          format: int64
          type: number
        max:
          type: number
        min:
          type: number
        sum:
          type: number
        timestamp:
          format: int64
          type: number
        value:
          type: number
          x-omitempty: false
      type: object
    v1MetricAggregation:
      description: Aggregation values
      properties:
        avg:
          type: number
          x-omitempty: false
        count:
          format: int64
          type: number
          x-omitempty: false
        max:
          type: number
          x-omitempty: false
        min:
          type: number
          x-omitempty: false
        sum:
          type: number
          x-omitempty: false
      type: object
    v1MetricTimeSeriesList:
      properties:
        items:
          items:
            $ref: '#/components/schemas/v1MetricsList'
          type: array
          uniqueItems: true
      required:
      - items
      type: object
    v1MetricsList:
      properties:
        metadata:
          $ref: '#/components/schemas/v1MetricMetadata'
        metrics:
          items:
            $ref: '#/components/schemas/v1Metrics'
          type: array
          uniqueItems: true
      type: object
    v1Metrics:
      properties:
        aggregation:
          $ref: '#/components/schemas/v1MetricAggregation'
        kind:
          type: string
        points:
          items:
            $ref: '#/components/schemas/v1MetricPoint'
          type: array
          uniqueItems: true
        unit:
          type: string
      type: object
  securitySchemes:
    ApiKey:
      description: API key authorization where API key can be generated from Palette console under Profile > My API Keys
      in: header
      name: ApiKey
      type: apiKey
    Authorization:
      description: JWT token authorization obtained using /v1/auth/authenticate api
      in: header
      name: Authorization
      type: apiKey
